@using VedAstro.Library
@attribute [Route(PageRoute.BirthTimeFinder)]

<PageTitle>Birth Time Finder</PageTitle>
<PageTop Title="Birth Time Finder" IconName="fa-solid:history">
    <Description>
        Find forgotten or lost birth time using advanced algorithms.
        Currently under development. Help out if you can.
    </Description>
</PageTop>

<UnderConstructionHeader></UnderConstructionHeader>

<hr />
<h3 class="fw-bold">Theory</h3>
<p class="text-justify mb-5" style="max-width:@GR.W412px">
    One may wonder how this is even possible.
    Well the answer is simple we do a "dictionary attack" on time.
    To put it plainly, we generate every possible human birth and
    check which life snapshot matches your life the closest.
    <a href="https://en.wikipedia.org/wiki/Nadi_astrology" target="_blank">Ancient Nadi</a>
    palm leafs is a perfect example that this
    methodology works in practice.
    This is only theory atm, much remains to be done!
    Checkout our GitHub progress on this <a href="https://github.com/VedAstro/VedAstro/issues/57" target="_blank">calculator</a>.
</p>


@code {

}
