@attribute [Route(PageRoute.Match)]
@using Microsoft.AspNetCore.Components


<PageTitle>Find Marriage Match</PageTitle>

<PageTop Title="Match" IconName="bi:arrow-through-heart-fill">
    <Description>Check marriage compatibility between horoscopes. 16 astrological factors are used to make this accurate prediction.</Description>
</PageTop>



<div class="d-flex flex-wrap mb-5">
    <div>
        <div class="vstack gap-3 me-5">
            <PeopleSelectorBox @ref="_malePeopleSelector" @bind-SelectedPersonId="@SelectedMale" Label="Male" />
            <PeopleSelectorBox @ref="_femalePeopleSelector" @bind-SelectedPersonId="@SelectedFemale" Label="Female" />
            <IconButton IconName="uim:process" ButtonText="Calculate" OnClickCallback="OnClickCalculate"></IconButton>
        </div>
    </div>
    <div>
        <ul class="list-group rounded-3">
            <li class="list-group-item active" aria-current="true">Full Check</li>
            <li class="list-group-item"><Icon IconName="flat-color-icons:checkmark" />Mars-Venus Dosa</li>
            <li class="list-group-item"><Icon IconName="flat-color-icons:checkmark" />12 Porutham/Kuta</li>
            <li class="list-group-item"><Icon IconName="flat-color-icons:checkmark" />Kuta Exceptions</li>
            <li class="list-group-item"><Icon IconName="flat-color-icons:checkmark" />7th House General</li>
        </ul>
    </div>
</div>

<hr />

<IconTitle Title="Accurate Predictions" IconName="flat-color-icons:filing-cabinet" />
<table class="table mb-5">
    <thead>
        <tr>
            <th scope="col">Couple</th>
            <th scope="col">Prediction</th>
            <th scope="col">Real Life</th>
            <th scope="col">Report</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kristen Bell  <Icon Size="21" NextToText="true" IconName="mdi:cards-heart" />  Dax Shepard</td>
            <td><b style="color: #00a702;">58%</b></td>
            <td>married since 2007, @(DateTime.Now.Year - 2007) years together, 2 children</td>
            <td><IconButton ButtonText="View" IsNewTabOpen="true" ClickUrl="/Calculator/Match/Report/70d6a995dec84c0aa74211ac9ff50d29/8e9b5804e68a4b82a1a975ebee1643dc" /></td>
        </tr>
        <tr>
            <td>Matt Damon  <Icon Size="21" NextToText="true" IconName="mdi:cards-heart" />  Luciana Barroso</td>
            <td><b style="color: #00a702;">56%</b></td>
            <td>married since 2005, @(DateTime.Now.Year - 2005) years together, 3 daughters</td>
            <td><IconButton ButtonText="View" IsNewTabOpen="true" ClickUrl="/Calculator/Match/Report/696c62d1f429469aaf8111fc1418f7ce/ef97500191d248cd92bc43d32fed6093" /></td>
        </tr>
        <tr>
            <td>Napoleon Bonaparte  <Icon Size="21" NextToText="true" IconName="material-symbols:heart-broken-rounded" />  Joséphine de Beau.</td>
            <td><b style="color: #ff6969;">39%</b></td>
            <td>married 14 years, divorced, no children</td>
            <td><IconButton ButtonText="View" IsNewTabOpen="true" ClickUrl="/Calculator/Match/Report/54041d1ffb49479997f7987ecfchf08b5/7faa6fe13ac5442d9d3dba972daa9af2" /></td>
        </tr>
        <tr>
            <td>Brad Pitt  <Icon Size="21" NextToText="true" IconName="material-symbols:heart-broken-rounded" />  Angelina Jolie</td>
            <td><b style="color: #ff6969;">33%</b></td>
            <td>married 2 years, divorced, 3 children</td>
            <td><IconButton ButtonText="View" IsNewTabOpen="true" ClickUrl="/Calculator/Match/Report/1943d2df235a4848b72b7becca607492/64d9f64fd5cb47838bdede68c3048362" /></td>
        </tr>
        <tr>
            <td>John Lennon  <Icon Size="21" NextToText="true" IconName="mdi:cards-heart" />  Yoko Ono</td>
            <td><b style="color: #ff6969;">22%</b></td>
            <td>married 10 years, end in husband death, 1 miscarriage, 1 son</td>
            <td><IconButton ButtonText="View" IsNewTabOpen="true" ClickUrl="/Calculator/Match/Report/188ae8f1dd4b487f9b419652aaca3518/fcc42c906530460c98163ede601d4932" /></td>
        </tr>
    </tbody>
</table>


<hr style="margin-bottom:@GR.W157px;">

@*<h4>Philosophy</h4>
<p>
    Do we need more proof? It is high time, for us as a human species to stop hunting for partners blindly like animals based on our senses.
    Instead we shall use divine intelligence with understanding of cosmic laws that guarantee a perfect union between 2 souls.
    Just imagine a world with no divorces, a world where happy marriages is common sight. Where laughter abounds &amp; fear stands still.
    "You may say I'm dreamer, but I'm not the only one." -- John Lenon
</p>
*@
@code {

    //VARIABLES
    public string? SelectedMale { get; set; }
    public string? SelectedFemale { get; set; }
    private PeopleSelectorBox _malePeopleSelector;
    private PeopleSelectorBox _femalePeopleSelector;



    //--------------------EVENT HANDLERS

    //private string GetMatchColor(double score)
    //{
    //    //100 = #00ff00
    //    //70 = #7dff7d
    //    //50 = #ffffff
    //    //25 = #ff6969
    //    //25 = #ff0000
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //show loading box
            //await _jsRuntime.ShowLoading();

            //get male list from api server & save it for later
            //_malePeopleSelector.SetData(await WebsiteTools.GetMalePeopleList(AppData.CurrentUser?.Id));
            //_femalePeopleSelector.SetData(await WebsiteTools.GetFemalePeopleList(AppData.CurrentUser?.Id));

            //hide loading box
            //_jsRuntime.HideAlert();

            ////called last because will loop back
            //this.StateHasChanged();

        }
    }

    private async Task OnClickCalculate()
    {
        await _jsRuntime.ShowLoading();

        //only continue if passed input field validation
        if (!ValidationPassed()) { return; }

        //navigate page to match report
        _navigation.NavigateTo($"{PageRoute.MatchReport}/{SelectedMale}/{SelectedFemale}");
    }

    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    private bool ValidationPassed()
    {

        //TEST 1
        //if person not selected, invalid
        if (!_malePeopleSelector.IsPersonSelected)
        {
            //mark invalid & alert user
            var msg = $"Select male person name!";
            _jsRuntime.ShowAlert("error", msg, true);
            return false;

        }

        //TEST 2
        //if person not selected, invalid
        if (!_femalePeopleSelector.IsPersonSelected)
        {
            //mark invalid & alert user
            var msg = $"Select female person name!";
            _jsRuntime.ShowAlert("error", msg, true);
            return false;
        }


        //if control reaches here than, it's valid
        return true;


    }


}