@attribute [Route(PageRoute.About)]

<PageTitle>About</PageTitle>

<PageTop Title="About" IconName="akar-icons:info" >
    <Description>The reason and goal behind this project.</Description>
</PageTop>


<div class="container gap-3">


    <h4 class="fw-bold">Reason</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx">
        Anybody who has studied Vedic Astrology knows well how accurate it can be.
        But also how complex it can get to make accurate predictions.
        It takes decades of experience to be able make accurate prediction.
        As such this knowledge only reaches a limited people.
        This project is an effort to change that.
    </p>

    <h4 class="fw-bold">Goal</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx;">
        Our goal is to make Vedic Astrology easily accessible to anybody.
        So that people can use it in their daily lives for their benefit.
        Vedic Astrology in Sanskrit mean "Light". And that is exactly what it is.
        It lights our future so we can change it.
        And it lights our past, to understand our mistakes.
    </p>

    <h4 class="fw-bold">How</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx;">
        By using modern computational technologies &amp; methods we can simplify the
        complexity of Vedic Astrology. For example, calculating planet strength (Bhava Bala)
        used to take hours, now with computers we can calculate it in milliseconds.
        And using databases &amp; innovative programming methods, there is no need to remember
        thousands of planetary combinations, allowing you to make accurate predictions
        with little to no knowledge.
    </p>

    <h4 class="fw-bold">9 Years Old</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx;">
        The first line of code for this project was written in 2014.
        Back then it was a simple desktop software, with no UI and only text display.
        With continued support from users, this project has steadily developed to what it is today.
        Helping people from all over the world.
    </p>
@*    <h4 class="fw-bold">Project Future</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx;">
        Assume the virtune if you have it not - William Shakespear
        We have a clear goal on where is this project is headed, though it be little lofty.
        It has been done before.
    </p>
*@

    @*
    <h4 class="fw-bold">Myths &amp; Legend</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx;">
    It is believed that Vedic Astrology was given to man as a means of escape
    from the thraldom of cosmic illusion (maya).

    </p>

    *@
    <h4 class="fw-bold">Credits &amp; Reference</h4>
    <p class="text-justify" style="max-width:@AppData.MaxContentWidthPx;">
        Thanks to B.V. Raman and his grandfather B. Suryanarain Rao. Information from their books is the source
        material & inspiration for this project. Please buy their books to show your support.
        Astronomical calculation was made possible by "SwissEphNet" &amp; "SWISS EPHEMERIS".
        Last but not least, we thank users like you who keep this project going.
    </p>

</div>



@code {

}
