@attribute [Route(PageRoute.About)]

<PageTitle>About</PageTitle>

<PageTop Title="About" IconName="emojione:shinto-shrine" />



<div class="gap-3" style="max-width:@GR.W667px">
    
    <p class="text-justify">
        Anybody who has studied Vedic Astrology knows well how accurate it can be.
        But also how complex it can get to make accurate predictions.
        It takes decades of experience to be able make accurate prediction.
        As such this knowledge only reaches a limited people.
        This project is an effort to change that.
    </p>

    <ArticleBlock Title="Goal" IconName="emojione:basketball">
        <TextHTML>
            Our goal is to make Vedic Astrology easily accessible to anybody.
            So that people can use it in their daily lives for their benefit.
            Vedic Astrology in Sanskrit mean "Light". And that is exactly what it is.
            It lights our future so we can change it. And it lights our past, to understand our mistakes.
        </TextHTML>
    </ArticleBlock>
    <ArticleBlock Title="How" IconName="flat-color-icons:electronics">
        <TextHTML>
            Using modern computational technologies & methods we can simplify the complexity of Vedic Astrology.
            For example, calculating planet strength (Bhava Bala) used to take hours, now with computers we can calculate it in milliseconds.
            Combining databases & innovative programming methods. There's no need to remember thousands of planetary combinations,
            allowing you to make accurate predictions with little to no knowledge.
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="9 Years Old" IconName="emojione:birthday-cake">
        <TextHTML>
            The first line of code for this project was written in 2014. Back then it was a simple desktop software,
            with no UI and only text display. With continued support from users, this project has steadily developed to what it is today.
            Helping people from all over the world.
        </TextHTML>
    </ArticleBlock>

    <img src="images/bv-raman-rao.png" class="img-thumbnail mt-3 mb-1" alt="...">

    <ArticleBlock Title="Credits &amp; Reference" IconName="emojione:books">
        <TextHTML>
            Thanks to B.V. Raman and his grandfather B. Suryanarain Rao. Information from their books is the source
            material & inspiration for this project. Please buy their books to show your support.
            Astronomical calculation was made possible by NASA's JPL data via "SWISS EPHEMERIS" ported by "SwissEphNet".
            Last but not least, we thank users like you who keep this project going.
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Myth &amp; Philosophy" IconName="emojione:scroll">
        <TextHTML>
            <p class="text-justify">
                It is told in the stories of old, that a heathen god moved by the plight of a
                child. Gave onto him the knowledge of the stars as compensation for the tears.
                The child in turn passed that gift to every soul he knew,
                with no check on price or pedigree. And so Vedic Astrology was born.
            </p>
            <p class="text-justify">
                As such astrology stands as an opportunity for every soul to realize that even though
                we play a role in the world, we are not made of it. That we are <strong>souls</strong> first!
                And the planets do no have a say on it.
            </p>
            <p class="text-justify" style="margin-bottom: 150px;">
                A means of escape from the thraldom of cosmic illusion, is what it really is.
                And so for this reason the masters have continued to bring this out in every age.
                <br />
                It's their gift to us, the <strong>"world folk"</strong>.
            </p>
        </TextHTML>
    </ArticleBlock>

</div>

@*    <h4 class="fw-bold">Project Future</h4>
    <p class="text-justify" style="max-width:@AppData.ComponentWidth;">
    Assume the virtue if you have it not! - William Shakespeare

    We have a clear goal on where this project is headed,
    though it be little lofty. It has been done before, we hear.
    So we dare to do it again!

   </p>
*@


@code {

}
