@page "/addperson/"
@using Genso.Astrology.Library

<PageTitle>Add new person</PageTitle>

@if (_showPersonAddedSuccessAlert)
{
    <div class="alert alert-success" role="alert">
        @_newPerson.GetName() added successful!
    </div>

}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form>
                <div class="form-group">
                    <label>Name</label>
                    <input @bind="_name" type="text" class="form-control" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label>Birth Time</label>
                    <input @bind="_timeString" type="text" class="form-control" placeholder="06:42 16/04/2021 +08:00">
                </div>
                <div class="form-group">
                    <label>Birth Location</label>
                    <input @bind="_locationName" type="text" class="form-control" placeholder="Ipoh">
                    <label>Longitude</label>
                    <input @bind="_longitude" type="text" class="form-control" placeholder="101">
                    <label>Latitude</label>
                    <input @bind="_latitude" type="text" class="form-control" placeholder="4.59">
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <select @bind="_genderString" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div style="margin-top: 50px" class="row">
        <button type="submit" @onclick="SubmitNewPerson" class="btn btn-primary">Submit</button>
    </div>
</div>

@code {

    string? _name;
    string? _timeString;
    string? _locationName;
    double _longitude;
    double _latitude;
    Gender _gender;
    string _genderString = "";
    Person _newPerson;
    bool _showPersonAddedSuccessAlert = false; //default alert is not shown

    //sends the newly created person to API server
    private async void SubmitNewPerson()
    {
        var geoLocation = new GeoLocation(_locationName, _longitude, _latitude);

        var stdTimeMale = DateTimeOffset.ParseExact(_timeString, Time.GetDateTimeFormat(), null);

        //get gender from gender string
        _gender = Enum.Parse<Gender>(_genderString);

        //create a new person from the inputed data
        var birthTime = new Time(stdTimeMale, geoLocation);
        _newPerson = new Person(_name, birthTime, _gender);


        //send newly created person to API server
        var apiAddress = ServerManager.AddPersonAPI;
        var xmlData = _newPerson.toXML();
        var result = ServerManager.SendXmlToServer(apiAddress, xmlData);

        //let user know person has been added
        _showPersonAddedSuccessAlert = true;

        //refresh the page variables
        this.StateHasChanged();

    }

}