@attribute [Route(PageRoute.BirthTimeFinder)]


<PageTitle>Birth Time Finder</PageTitle>
<PageTop Title="Birth Time Finder" IconName="fa-solid:history">
    <Description>
        Find forgotten or lost birth time using astrological methods.
        Not all birth time is recorded accurately at birth, use this tool to find out your correct birth time.
    </Description>
    <ButtonsRow>
        <IconButton IconName="akar-icons:arrow-back" ButtonText="Back" OnClickCallback="() => _navigation.NavigateTo(PageRoute.CalculatorList)"></IconButton>
        <IconButton IconName="iconoir:donate" ButtonText="Fund" OnClickCallback="() => _navigation.NavigateTo(PageRoute.DonatePayment)"></IconButton>
    </ButtonsRow>
</PageTop>

<h4>Calculator is under development.</h4>
<h4>
    <a href="@PageRoute.DonatePayment" class="link-primary">Fund</a> this calculator for faster development.
</h4>


@code {

}
