@using VedAstro.Library
@attribute [Route(PageRoute.CancellationRefund)]

<PageTitle>Cancellation &amp; Refund</PageTitle>


<div class="container p-4" style="max-width: 768px;">

    <h1>Cancellation and Refund Policy</h1>
    <p>Thank you for shopping at Our Store. If you are not entirely satisfied with your purchase, we're here to help.</p>

    <h2>Cancellations</h2>
    <p>If you wish to cancel your order, please contact us within 24 hours of placing the order. Any cancellation requests received after this period will not be accepted.</p>

    <h2>Returns</h2>
    <p>You have 30 calendar days to return an item from the date you received it. To be eligible for a return, your item must be unused and in the same condition that you received it.</p>

    <h2>Refunds</h2>
    <p>Once we receive your item, we will inspect it and notify you that we have received your returned item. If your return is approved, we will initiate a refund to your original method of payment.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about our Cancellation and Refund Policy, please contact us.</p>

</div>

@code {

}
