@using VedAstro.Library
@attribute [Route(PageRoute.Chat)]

<PageTitle>AI Astrologer</PageTitle>

<PageTop ImageName="ai-chat-banner.png"
         Title="AI Astrologer"
         DescriptionText="Talk with AI powered astrologer to help learn, discuss and improve your knowledge on astrology">
</PageTop>


<!-- MAIN MESSAGE BODY -->
<div class="col-md-6 col-lg-7 col-xl-8">

    <!-- CHAT SESSION PERSON SELECTOR -->
    <div class="input-group mb-2">
        <span class="input-group-text gap-2">
            <span class="iconify me-2" data-icon="flat-color-icons:list" data-width="25" data-height="25"></span> Saved
        </span>
        <!--!-->
        <select class="form-select" onchange="OnChangePersonSelection()" id="PersonListDropdown">
            <option selected value="">Choose...</option>
        </select>
        <button onclick="" style="display: none; height: 38px; width: fit-content; font-family: 'Lexend Deca', serif !important;" class="btn-sm iconOnlyButton btn-primary btn ms-1" _bl_171="">
            <span class="iconify" data-icon="gg:add" data-width="25" data-height="25"></span>
        </button>
        <button  @onclick="@(() => _jsRuntime.FunFeaturePopUp("Chat"))" style="height: 38px; width: fit-content; font-family: 'Lexend Deca', serif !important;" class="btn-sm iconOnlyButton btn-primary btn ms-1" _bl_171="">
            <span class="iconify" data-icon="iconamoon:settings-fill" data-width="25" data-height="25"></span>
        </button>
    </div>


    <!-- MESSAGES IN VIEW -->
    <ul class="list-unstyled" id="ChatWindowMessageList">
        <li class="d-flex justify-content-start mb-4">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                 class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="45">
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">AI Astrologer</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                        Hi 👋, <br />
                        ask any question about astrology to start...
                    </p>
                </div>
            </div>
        </li>
        <li class="d-flex justify-content-start mb-4" id="AIChatLoadingWaitElement" style="display: none !important;">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp" alt="avatar"
                 class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="45">
            <div class="card">
                <div class="card-header d-flex justify-content-between p-3">
                    <p class="fw-bold mb-0">AI Astrologer</p>
                    <p class="text-muted small mb-0"><i class="far fa-clock"></i> 12 mins ago</p>
                </div>
                <div class="card-body">
                    <p class="mb-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-dasharray="15" stroke-dashoffset="15" stroke-linecap="round" stroke-width="2" d="M12 3C16.9706 3 21 7.02944 21 12"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="15;0" /><animateTransform attributeName="transform" dur="1.5s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12" /></path></svg>
                    </p>
                </div>
            </div>
        </li>
        <li class="bg-white mb-3">
            <textarea class="form-control" id="UserChatInputElement" rows="4"></textarea>
        </li>
        <button @onclick="@(() => _jsRuntime.FunFeaturePopUp("Chat"))" type="button" class="btn btn-primary btn-rounded float-end">
            <span class="iconify me-2" data-icon="fluent-mdl2:processing-run" data-width="25" data-height="25"></span>
            Send
        </button>
    </ul>
</div>


@code {

}
