@using Genso.Astrology.Library
@using System.Xml.Linq
@using Tools = Genso.Astrology.Library.Tools

<style>
    #NowLine {
        background-color: red;
        width: 1px;
        height: 142px;
        z-index: 999;
        left: 0px;
        top: -144px;
        position: relative;
    }

</style>


<div class="vstack gap-1">
    <div style="background-color: cadetblue;" class="fw-bold" id="TimeCursorLegend"></div>
    <div class="container-xxl" @ref="_dasaViewBox" style="overflow-x: scroll;">
        @DasaRowItemsSvg
        @BhuktiRowItemsSvg
        @AntaramRowItemsSvg
    </div>
    <div id="NowLine" style="left: 100px"></div>
</div>


@code {

    //INTERNAL TYPES


    //FIELDS
    //NOTE all precision values must match otherwise
    //misalignment & empty slices occur
    double _dasaEventsPrecision = Tools.DaysToHours(14);
    double _bhuktiEventsPrecision = Tools.DaysToHours(14);
    double _antaramEventsPrecision = Tools.DaysToHours(14);
    double _timeSlicePrecision = Tools.DaysToHours(14);
    ElementReference _dasaViewBox;

    //px width & height of each slice of time
    //used when generating dasa rows
    //note: changes needed only here
    int _widthPerSlice = 1;
    int _heightPerSlice = 35;



    //PROPERTIES
    private Person Person { get; set; }

    private List<Event>? DasaEventList { get; set; }

    private List<Event>? BhuktiEventList { get; set; }

    private List<Event>? AntaramEventList { get; set; }

    private MarkupString DasaRowItemsSvg { get; set; } = new("");

    private MarkupString BhuktiRowItemsSvg { get; set; } = new("");

    private MarkupString AntaramRowItemsSvg { get; set; } = new("");




    //OVERRIDES
    /// <summary>
    /// JS events are attached here because the html element is already loaded
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //after first render attach event handler for Time Cursor
        if (firstRender) { await _jsRuntime.AddEventListener(_dasaViewBox, "mousemove", "mouseOverDasaViewHandler"); }
    }



    //METHODS

    /// <summary>
    /// Sets the data that is processed and fill the content
    /// </summary>
    public async Task SetData(Person person)
    {
        //save inputed data
        this.Person = person;

        //use the inputed data to get events from API
        //note: below methods access the data internally
        DasaEventList = await getDasaEvents();
        await _jsRuntime.AddToProgressBar( 5);
        BhuktiEventList = await getBhuktiEvents();
        await _jsRuntime.AddToProgressBar( 5);
        AntaramEventList = await getAntaramEvents();
        await _jsRuntime.AddToProgressBar( 5);

        //generate rows and pump them into the page
        DasaRowItemsSvg = new MarkupString(await GenerateRowSvg(DasaEventList, _dasaEventsPrecision));

        BhuktiRowItemsSvg = new MarkupString(await GenerateRowSvg(BhuktiEventList, _bhuktiEventsPrecision));

        AntaramRowItemsSvg = new MarkupString(await GenerateRowSvg(AntaramEventList, _antaramEventsPrecision));


        //need to propagate changes
        this.StateHasChanged();


        //-----------------------LOCAL FUNCTIONS-------------------------

        async Task<string> GenerateRowSvg(List<Event> eventList, double precisionHours)
        {
            //get time slices used to get events
            var startTime = Person.GetBirthDateTime(); //start time is birth time
            var endTime = startTime.AddYears(120); //end time is 120 years from birth (dasa cycle)
            var timeSlices = EventManager.GetTimeListFromRange(startTime, endTime, _timeSlicePrecision);

            //generate the row for each time slice
            var rowHtml = "";
            var horizontalPosition = 0; //distance from left
            foreach (var slice in timeSlices)
            {
                //get event that occurred at this time slice
                //if more than 1 event raise alarm
                var foundEventList = eventList.FindAll(tempEvent => tempEvent.IsOccurredAtTime(slice));
                if (foundEventList.Count > 1) throw new Exception("Only 1 event in 1 time slice!");
                var foundEvent = foundEventList[0];

                //generate and add to row
                //the hard coded attribute names used here are used in App.js
                var rect = $"<rect " +
                          $"eventName=\"{foundEvent?.FormattedName}\" " +
                          $"age=\"{Person.GetAge(slice)}\" " +
                          $"stdTime=\"{slice.GetStdDateTimeOffset():dd/MM/yyyy}\" " + //show only date
                          $"x=\"{horizontalPosition}\" " +
                          $"width=\"{_widthPerSlice}\" " +
                          $"height=\"{_heightPerSlice}\" " +
                          $"fill=\"{GetEventColor(foundEvent?.Nature)}\" />";

                //set position for next element
                horizontalPosition += _widthPerSlice;

                rowHtml += rect;

            }

            //create the final svg that will be displayed
            var svgTotalWidth = horizontalPosition + 10; //add little for wiggle room
            var svgTotalHeight = _heightPerSlice + 1; //add little as border between
            var svgBody = $"<svg " +
                          $"style=\"" +
                          $"width:{svgTotalWidth}px;" +
                          $"height:{svgTotalHeight}px;" +
                          $"\" " +
                          $"xmlns=\"http://www.w3.org/2000/svg\">" +
                          $"{rowHtml}</svg>";


            await _jsRuntime.AddToProgressBar( 5);

            return svgBody;

        }

        // Get dasa color based on nature & number of events
        string GetEventColor(EventNature? eventNature)
        {
            var colorId = "gray";

            if (eventNature == null) { return colorId; }

            //set color id based on nature
            switch (eventNature)
            {
                case EventNature.Good:
                    colorId = "green";
                    break;
                case EventNature.Neutral:
                    colorId = "";
                    break;
                case EventNature.Bad:
                    colorId = "red";
                    break;
            }

            return colorId;
        }

        async Task<List<Event>?> getDasaEvents() => await getEventsByTag(EventTag.Dasa, _dasaEventsPrecision);
        async Task<List<Event>?> getBhuktiEvents() => await getEventsByTag(EventTag.Bhukti, _bhuktiEventsPrecision);
        async Task<List<Event>?> getAntaramEvents() => await getEventsByTag(EventTag.Antaram, _antaramEventsPrecision);

        //gets events from server filtered by event tag
        async Task<List<Event>?> getEventsByTag(EventTag tag, double precisionHours)
        {

            //prep data
            var startTime = Person.GetBirthDateTime(); //start time is birth time
            var endTime = startTime.AddYears(120); //end time is 120 years from birth (dasa cycle)

            //get events from API server
            var dasaEventsUnsorted =
                await GetEventsFromApi(
                    startTime,
                    endTime,
                    //birth location always as current place,
                    //since place does not matter for Dasa
                    Person.GetBirthLocation(),
                    Person,
                    tag,
                    precisionHours);


            //sort the list by time before sending view
            var orderByAscResult = from dasaEvent in dasaEventsUnsorted
                                   orderby dasaEvent.StartTime.GetStdDateTimeOffset()
                                   select dasaEvent;


            await _jsRuntime.AddToProgressBar( 10);

            //send sorted events to view
            return orderByAscResult.ToList();
        }

        // Gets Muhurtha events from API
        async Task<List<Event>> GetEventsFromApi(Time startTime, Time endTime, GeoLocation location, Person person, EventTag tag, double precisionHours)
        {
            //prepare data to send to API
            var root = new XElement("Root");

            root.Add(
                new XElement("StartTime", startTime.ToXml()),
                new XElement("EndTime", endTime.ToXml()),
                location.ToXml(),
                person.ToXml(),
                Tools.AnyTypeToXml(tag),
                Tools.AnyTypeToXml(precisionHours));


            //send to api and get results
            var resultsRaw = await ServerManager.WriteToServer(ServerManager.GetEventsApi, root);


            //parse raw results
            List<Event> resultsParsed = Event.FromXml(resultsRaw);

            await _jsRuntime.AddToProgressBar( 10);

            //send to caller
            return resultsParsed;
        }
    }
}
