@using Genso.Astrology.Library
@attribute [Route(PageRoute.Donate)]

<PageTitle>Donate</PageTitle>

<PageTop Title="Donate" Description="Below is a list of ways you can donate funds to support VedAstro." />

<div class="vstack gap-1">

    <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/luno-btc-donate.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Bitcoin (BTC)</h5>
                    <p class="card-text">3Ky3AXYvxTNUmJuGMGhX1Vqa4RZbhrFPbQ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/luno-ltc-donate.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Litecoin (LTC)</h5>
                    <p class="card-text">MV2Uot32vCT1KDWbMpDTZ5JMdrjJ3E8WfL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/luno-eth-donate.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Ethereum (ETH)</h5>
                    <p class="card-text">0x92d275C0e511853baE90560a2928f784AEfE3144</p>
                </div>
            </div>
        </div>
    </div>


</div>
@*
<div class="container">
    <div class="row">
        <div class="col">Bitcoin (BTC)</div>
        <div class="col"></div>
        <div class="col"><img src=""/></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><img src="images/luno-ltc-donate.png"/></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><img src="images/luno-eth-donate.png"/></div>
    </div>
</div>*@

@code {

}
