@attribute [Route(PageRoute.Donate)]

<PageTitle>Donate</PageTitle>

<PageTop Title="Donate" IconName="iconoir:donate">
    <Description>Funding from users like you is what keeps this project going.</Description>
</PageTop>


<h4 class="fw-bold">Where do donations go?</h4>
<h6>Developers</h6>
<p class="text-justify" style="max-width:@AppData.MaxWidth;">
    A major part of cost is developer salary.
    A page like Match for example took 3 weeks of developer work time to build.
    Cost of one developer work day is $20.
    This means that Match calculator page cost $420 to develop.
</p>
<h6>Hosting</h6>
<p class="text-justify" style="max-width:@AppData.MaxWidth;">
    Next priority goes to hosting costs. Currently VedAstro is hosted in Azure
    as a Static Web App which reduces running cost considerably.
    We try our best to be transparent with the monetary flow so that
    you know your money is spent to help the community.
</p>
<h6>Transparent Donations</h6>
<p class="text-justify" style="max-width:@AppData.MaxWidth;">
    Know exactly where your money is going.
    We try to keep the fund flow as transparent as possible.
    That's why you can choose to sponsor a specific thing.
    Where you know exactly what you're paying for.
</p>

<IconButton ButtonText="Make Donation" ClickUrl="@PageRoute.DonatePayment" IconName="simple-icons:githubsponsors" />


@code {


}
