@attribute [Route(PageRoute.Download)]


<PageTitle>Download</PageTitle>
<PageTop Title="Download" IconName="mdi:cloud-tags">
    <Description>
        Run powerful vedic calculation straight on your desktop. Faster and more powerful than web version.
    </Description>
</PageTop>

<div class="hstack mt-3 gap-5">
    <Icon IconName="wpf:mac-os"  Size="45"/>
    <Icon IconName="teenyicons:windows-solid" Size="45" />
    <Icon IconName="uiw:android" Size="45" />
</div>

<h4 class="mt-4">
    <a href="@PageRoute.Donate" class="link-primary">Fund</a> this feature for faster development.
</h4>


@code {

}
