@attribute [Route(PageRoute.Download)]


<PageTitle>Download</PageTitle>
    <PageTop Title="Download" IconName="mdi:cloud-tags">
    <Description>
        Run powerful vedic calculation staright on your desktop. Faster and more powerful than web version.
    </Description>
</PageTop>


<h4>
    <a href="@PageRoute.Donate" class="link-primary">Fund</a> this calculator for faster development.
</h4>


@code {

}
