@attribute [Route(PageRoute.FAQ)]


<PageTitle>FAQ</PageTitle>

<PageTop Title="Frequestly Asked Questions" IconName="akar-icons:info"/>
@*    <Description></Description>
    </PageTop>*@


<h3>FAQ</h3>

@code {

}
