<span class="iconify" data-icon="@IconName" data-width="@Size"></span>

@code {
    
    /// <summary>
    /// Special icon name from icon-sets.iconify.design
    /// </summary>
    [Parameter]
    public string? IconName { get; set; }

    [Parameter]
    public int? Size { get; set; } = 25;


}
