@using VedAstro.Library
@attribute [Route(PageRoute.Home)]


<PageTitle>VedAstro | Vedic Astrology</PageTitle>

<!--SLIDE SHOW-->
<div>
    <style>
        .backgroudImg {
            background-image: url("images/zodiac-wheel-faded-2.png");
            background-repeat: no-repeat;
        }
    </style>

    <div class="backgroudImg bg-white p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
        <div class="p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">VedAstro</h1>
            <p class="lh-base lead text-nowrap" style="font-weight: 400;">A non-profit, open source project to make<br /><span class="fw-bold">Vedic Astrology</span> easily available to all.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <IconButton ButtonText="Quick Guide" IconName="mdi:book-open-variant" ClickUrl="@PageRoute.QuickGuide" />
                <IconButton ButtonText="Source Code" IconName="uil:github" ClickUrl="@URL.GitHubRepo" />
                <IconButton ButtonText="Donate" IconName="iconoir:donate" ClickUrl="@PageRoute.Donate" />
            </div>
        </div>
    </div>
</div>


<!--QUICK LINKS-->
<style>
    /*to make card look clickable*/
    .card:hover {
        border: 2px solid #3E7DC0 !important;
    }
</style>
<div class="py-4" id="icon-grid">
    <h3 class="pb-2 border-bottom">
        Quick Links <button @onclick="() => _navigation.NavigateTo(PageRoute.CalculatorList)" type="button" class="btn btn-sm btn-outline-secondary">View All</button>
    </h3>
    <div class="g-4 row row-cols-2 row-cols-sm-3 row-cols-lg-4">
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Match)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/match-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Match</h5>
                    <p class="card-text">Check compatibility between two horoscopes</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Horoscope)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/horoscope-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Horoscope</h5>
                    <p class="card-text">Shows all possible prediction for a person's life.</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Dasa)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/dasa-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Life Predictor</h5>

                    <p class="card-text">Know good and bad periods of your life years ahead. Dasa &amp; Gochara</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Muhurtha)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/muhurtha-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Muhurtha</h5>
                    <p class="card-text">Find a good time for buying car, travel, studies, etc..</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.HoroscopeData)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/horoscope-data-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Horoscope Data</h5>
                    <p class="card-text">Raw astrological info to help you make accurate prediction</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Journal)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/add-life-event-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Journal</h5>
                    <p class="card-text">Astrological journal to help understand your life events</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.OpenApi)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/open-api-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Open API</h5>
                    <p class="card-text">Access powerful astrological tools via a simple HTTP request for free</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.BirthTimeFinder)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/birth-time-finder-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Birth Time Finder</h5>
                    <p class="card-text">Find forgotten or lost birth time using astrological methods. </p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.SunRiseSetTime)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/sunrise-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sunrise Time</h5>
                    <p class="card-text">Time when Sun's disc center meets the horizon</p>
                </div>
            </div>
        </div>
    </div>

</div>


@code {

    private void OnClickSourceCodeButton() => _jsRuntime.OpenNewTab(URL.GitHubRepo);
    private void OnClickGuideButton() => _navigation.NavigateTo(PageRoute.QuickGuide);

}

