@page "/"

<PageTitle>VedAstro | Vedic Astrology</PageTitle>

<h1>Vedic Astrology Tools</h1>

<div class="container">

</div>

<div class="row">
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Match</h5>
                <p class="card-text">Check marriage compatibility between horoscopes</p>
                <a href="match" class="btn btn-primary">Check Match</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Muhurtha</h5>
                <p class="card-text">Find a good time for auspicious events</p>
                <a href="muhurtha" class="btn btn-primary">Find Muhurtha</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Horoscope</h5>
                <p class="card-text">Read predictions based on your birth chart</p>
                <a href="horoscope" class="btn btn-primary">Read Horoscope</a>
            </div>
        </div>
    </div>
</div>