@using VedAstro.Library
@attribute [Route(PageRoute.Home)]


<PageTitle>VedAstro | Vedic Astrology</PageTitle>

<!--SLIDE SHOW-->
<div>
    <style>
        .backgroudImg {
            background-image: url("images/zodiac-wheel-faded-2.png");
            background-repeat: no-repeat;
        }
    </style>

    <div class="backgroudImg bg-white p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow">
        <div class="p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">VedAstro</h1>
            <p class="lh-base lead text-nowrap" style="font-weight: 400;">A non-profit, open source project to make<br /><span class="fw-bold">Vedic Astrology</span> easily available to all.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <IconButton ButtonText="Quick Guide" IconName="mdi:book-open-variant" ClickUrl="@PageRoute.QuickGuide" />
                <IconButton ButtonText="Source Code" IconName="uil:github" ClickUrl="@URL.GitHubRepo" />
                <IconButton ButtonText="Donate" IconName="iconoir:donate" ClickUrl="@PageRoute.Donate" />
            </div>
        </div>
    </div>
</div>


<!--QUICK LINKS-->
<style>
    /*to make card look clickable*/
    .card:hover {
        border: 2px solid #3E7DC0 !important;
    }
</style>
<div class="py-4" id="icon-grid">
    <h3 class="pb-2 border-bottom">
        Quick Links <button @onclick="() => _navigation.NavigateTo(PageRoute.CalculatorList)" type="button" class="btn btn-sm btn-outline-secondary">View All</button>
    </h3>
    <div class="g-4 row row-cols-2 row-cols-sm-3 row-cols-lg-4">
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Match)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/match-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Match</h5>
                    <p class="card-text">Check compatibility between two horoscopes</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Horoscope)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/horoscope-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Horoscope</h5>
                    <p class="card-text">Shows all possible prediction for a person's life.</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Dasa)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/dasa-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Life Predictor</h5>
       
                    <p class="card-text">Know good and bad periods of your life years ahead. Dasa &amp; Gochara</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Muhurtha)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/muhurtha-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Muhurtha</h5>
                    <p class="card-text">Find a good time for buying car, travel, studies, etc..</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.HoroscopeData)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/horoscope-data-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Horoscope Data</h5>
                    <p class="card-text">Raw astrological info to help you make accurate prediction</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.Journal)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/add-life-event-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Journal</h5>
                    <p class="card-text">Astrological journal to help understand your life events</p>
                </div>
            </div>
        </div>
        <div @onclick="() => _navigation.NavigateTo(PageRoute.OpenApi)" style="cursor: pointer;" class="col">
            <div class="card">
                <img src="images/open-api-card.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Open API</h5>
                    <p class="card-text">Access powerful astrological tools via a simple HTTP request for free</p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="pb-2 border-bottom mt-5">Blog Articles</h3>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/why-vedic.webp" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8" @onclick="() => _navigation.NavigateTo(PageRoute.BlogWhyVedic)" style="cursor: pointer;">
                <div class="card-body">
                    <h5 class="card-title">Why Not Mayan Astrology?</h5>
                    <p class="card-text">
                        Wise man of all ages across the world have spoken of astrology in one form or the other.
                        As such Astrology does not belong to one man, creed or country. It is the knowledge of the ages.
                        So this begs the question, "Why 'Vedic' Astrology?...
                    </p>
                    @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                </div>
            </div>
        </div>
    </div>
</div>


@code {

    private void OnClickSourceCodeButton() => _jsRuntime.OpenNewTab(URL.GitHubRepo);
    private void OnClickGuideButton() => _navigation.NavigateTo(PageRoute.QuickGuide);

}


@*
    We're always looking to add more features and tools that will be helpful to people.
    So if you got idea for a feature share it here.

    This website is under active development, if you spot a bug or spelling mistake. Report it here.

    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">VedAstro</h1>
    <p class="col-md-8 fs-4">
    A non-profit, open source project to make <br\> <span class="fw-bold">Vedic Astrology</span> easily available to all.
    </p>
    <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
    </div>


    <p>
    </p>

    <div class="container">
    </div>
*@