@using Genso.Astrology.Library

<div class="vstack gap-3">

    <div class="hstack gap-3">
        <label>Life Events</label>
        <IconButton ButtonText="Add" IconName="fluent:add-square-24-filled" OnClickCallback="OnClickAddLifeEvent"/>
    </div>

    <div style="min-height: 150px;" id="@TableId"></div>

</div>




@code {



    //FIELDS
    const string TableId = "LifeEventsListTable"; //change only needed here



    //PROPERTIES

    [Parameter]
    public List<Event> LifeEventList { get; set; }



    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER


    private async Task OnClickAddLifeEvent() => await InvokeAsync(async () => await _OnClickAddLifeEvent()).Try(_jsRuntime);




    //-------------------EVENT HANDLERS


    public async Task SetData(List<LifeEvent> lifeEventList)
    {
        //show loading message
        _jsRuntime.ShowLoading();

        //convert objects to json (for js generator library)
        //and calls js code change table directly
        await _jsRuntime.InvokeVoidAsync("generateLifeEventListTable", TableId, lifeEventList.ToArray());

        //page ready
        _jsRuntime.HideAlert();

    }


    /// <summary>
    /// gets the life events entered into Tabulator js table
    /// converts it into life event instances
    /// </summary>
    public async Task<List<LifeEvent>> GetData()
    {
        //get life events from the JS generated table
        var lifeEventListXml = await _jsRuntime.InvokeAsyncJson("getLifeEventsListTableData", "LifeEventList");

        var returnList = new List<LifeEvent>();

        //convert xml to instance (parse it baby)
        //1 day to make this work, no joke looks simple...
        foreach (var lifeEventXml in lifeEventListXml.Elements())
        {
            returnList.Add(LifeEvent.FromXml(lifeEventXml));
        }

        return returnList;

    }


    private async Task _OnClickAddLifeEvent()
    {
        //call js to add data
        await _jsRuntime.InvokeVoidAsync("addNewLifeEventToTable");

    }

}
