@using Genso.Astrology.Library


<IconButton ButtonText="Add" IconName="fluent:add-square-24-filled" OnClickCallback="OnClickAddLifeEvent"/>

<div style="min-height:150px;" id="@TableId"></div>





@code {



    //FIELDS
    const string TableId = "LifeEventsListTable"; //change only needed here



    //PROPERTIES

    [Parameter]
    public List<Event> LifeEventList { get; set; }



    //-------------------EVENT HANDLERS

    private async Task OnClickAddButton()
    {
        //show loading message
        await _globalVariable.LoadingMessage.Show();



        //page ready
        await _globalVariable.LoadingMessage.Hide();

    }

    public async Task SetData(List<LifeEvent> lifeEventList)
    {
        //show loading message
        await _globalVariable.LoadingMessage.Show();

        //convert objects to json (for js generator library)
        //and calls js code change table directly
        await _jsRuntime.InvokeVoidAsync("generateLifeEventListTable", TableId, lifeEventList.ToArray());

        //page ready
        await _globalVariable.LoadingMessage.Hide();

    }


    /// <summary>
    /// gets the life events entered into Tabulator js table
    /// converts it into life event instances
    /// </summary>
    public async Task<List<LifeEvent>> GetData()
    {
        //get life events from the JS generated table
        var lifeEventListXml = await _jsRuntime.InvokeAsyncJson("getLifeEventsListTableData", "LifeEventList");

        var returnList = new List<LifeEvent>();

        //convert xml to instance (parse it baby)
        //1 day to make this work, no joke looks simple...
        foreach (var lifeEventXml in lifeEventListXml.Elements())
        {
            returnList.Add(LifeEvent.FromXml(lifeEventXml));
        }

        return returnList;
        
    }


    private async Task OnClickAddLifeEvent(MouseEventArgs obj)
    {
        //call js to add data
        await _jsRuntime.InvokeVoidAsync("addNewLifeEventToTable");

    }

}
