
<PageTitle>Made On Earth</PageTitle>

<PageTop Title="Made On Earth Movement" IconName="akar-icons:info" >
    <Description></Description>
</PageTop>


<img src="images/made-on-earth.jpg" class="img-fluid" alt="...">


<div class="container gap-3">

    <p class="text-justify" style="max-width:@AppData.WidgetWidthPx">
        Everywhere on so many goods &amp; services we see "Made in USA", "Made in Great Britain", "Made in China", "Made in Sweden",
        made here &amp; made there.
        I would love to put such a label on this project, but I would not know where to start.
        As Milton Freedman put it, even to manufacture the humble "pencil" it takes the accumulated
        might of industry spread across the earth. From graphite mines in Brazil to rubber
        trees in Indonesia, just to make a pencil!

        The point we're trying to make is that this project is only possible because of people and
        resources from many places spread across the earth and time.
        
        As such the only REAL label for this project is, proudly "Made on Earth"
    </p>
    

</div>



@code {

}
