@page "/match"
@using Microsoft.AspNetCore.Components


<PageTitle>Find Marriage Match</PageTitle>

<div class="vstack gap-3">
    <PeopleSelectorBox @ref="_malePeopleSelector" @bind-SelectedPersonName="@SelectedMale" Label="Male" />
    <PeopleSelectorBox @ref="_femalePeopleSelector" @bind-SelectedPersonName="@SelectedFemale" Label="Female" />
    <button @onclick="GetMatchReport" class="btn btn-primary">Submit</button>
</div>


@code {

    //VARIABLES
    public string? SelectedMale { get; set; }
    public string? SelectedFemale { get; set; }
    private PeopleSelectorBox _malePeopleSelector;
    private PeopleSelectorBox _femalePeopleSelector;


    protected override async Task OnInitializedAsync()
    {
        //show loading box
        await _globalVariable.LoadingMessage.Show();

        //get male list from api server & save it for later
        _malePeopleSelector.SetData(await _globalVariable.GetMalePeopleList());
        _femalePeopleSelector.SetData(await _globalVariable.GetFemalePeopleList());

        //hide loading box
        await _globalVariable.LoadingMessage.Hide();

    }

    private void GetMatchReport() => _navigation.NavigateTo($"matchreport/{SelectedMale}/{SelectedFemale}");
}