@using System.Xml.Linq
@using VedAstro.Library
@attribute [Route(PageRoute.MessageList)]



<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>UserId</th>
            <th>Email</th>
            <th>Timestamp</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in _messageListXml)
        {
            <tr>
                <td>@message.Element("UserId")?.Value</td>
                <td>@message.Element("Email")?.Value</td>
                <td>@message.Element("Timestamp")?.Value</td>
                <td>@message.Element("Text")?.Value</td>
            </tr>
        }
    </tbody>
</table>



@code {

    List<XElement> _messageListXml = new List<XElement>();


    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER


    protected override async Task OnInitializedAsync() => await InvokeAsync(async () => await _OnInitialized()).Try(_jsRuntime);




    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    private async Task _OnInitialized()
    {
       await _jsRuntime.ShowLoading();

        //get all message list from API server
        var result = await Tools.ReadFromServerXmlReply(AppData.URL.GetMessageList);
        var rawDoc = result.Payload;
        _messageListXml = rawDoc.Elements().ToList();

        _jsRuntime.HideLoading();
    }

}
