@*A simple box to select time from month & year*@


<div>
    <label class="form-label">@LabelText</label>
    <div class="hstack gap-2" style="min-width: 156px;width: fit-content;">
        <select @ref="_monthDropdown" @bind="_selectedMonth" class="form-control">
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <input @bind="_yearInput" type="number" class="form-control">
    </div>
</div>


@code {


    /// <summary>
    /// Text that will be displayed above input
    /// </summary>
    [Parameter]
    public string? LabelText { get; set; }

    //default to current year and month
    private int _yearInput = DateTimeOffset.Now.Year;
    private string? _selectedMonth = DateTimeOffset.Now.Month.ToString();


    private ElementReference _monthDropdown;
    private ElementReference _yearDropdown;

    public List<int> YearList => GetYearList();



    /// <summary>
    /// Returns selected month and year as "mm/yyyy"
    /// Note: returns partial for easy plugin to existing format
    /// </summary>
    /// <returns></returns>
    public string GetSelectedTimeText()
    {
        //add 0 in front of single digit month for correct parsing
        switch (_selectedMonth)
        {
            case "1":_selectedMonth = "01"; break;
            case "2":_selectedMonth = "02"; break;
            case "3":_selectedMonth = "03"; break;
            case "4":_selectedMonth = "04"; break;
            case "5":_selectedMonth = "05"; break;
            case "6":_selectedMonth = "06"; break;
            case "7":_selectedMonth = "07"; break;
            case "8":_selectedMonth = "08"; break;
            case "9":_selectedMonth = "09"; break;
        }

        //combine with year text
        var compiledText = $"{_selectedMonth}/{_yearInput}";

        return compiledText;
    }


    //list used to show in year drop down
    private static List<int> GetYearList()
    {

        var returnList = new List<int>();

        int startYear = 1800;

        for (int i = 0; i < 1000; i++)
        {
            returnList.Add(++startYear);
        }

        return returnList;
    }


}
