@*A simple box to select time from month & year*@


<div>
    <label class="form-label">@LabelText</label>
    <div class="hstack gap-2" style="min-width: 156px;width: fit-content;">
        <select @ref="_monthDropdown" @bind="_selectedMonth" class="form-control">
            <option value="01">Jan</option>
            <option value="02">Feb</option>
            <option value="03">Mar</option>
            <option value="04">Apr</option>
            <option value="05">May</option>
            <option value="06">Jun</option>
            <option value="07">Jul</option>
            <option value="08">Aug</option>
            <option value="09">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
        </select>
        <input @bind="_yearInput" type="number" class="form-control">
    </div>
</div>


@code {


    /// <summary>
    /// Text that will be displayed above input
    /// </summary>
    [Parameter]
    public string? LabelText { get; set; }

    //default to current year and month
    private int _yearInput = DateTimeOffset.Now.Year;
    private string? _selectedMonth = DateTimeOffset.Now.Month.ToString();


    private ElementReference _monthDropdown;
    private ElementReference _yearDropdown;

    public List<int> YearList => GetYearList();



    /// <summary>
    /// Returns selected month and year as "mm/yyyy"
    /// Note: returns partial for easy plugin to existing format
    /// </summary>
    /// <returns></returns>
    public string GetSelectedTimeText()
    {
        var compiledText = $"{_selectedMonth}/{_yearInput}";
        return compiledText;
    }


    //list used to show in year drop down
    private static List<int> GetYearList()
    {

        var returnList = new List<int>();

        int startYear = 1800;

        for (int i = 0; i < 1000; i++)
        {
            returnList.Add(++startYear);
        }

        return returnList;
    }


}
