@using VedAstro.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.NowInDwapara)]

<PageTitle>Now In Dwapara | VedAstro</PageTitle>

<PageTop ImageName="join-our-family.svg"
         Title="Now In Dwapara"
         DescriptionText="Rejoice dear reader, for Kali is over. A new age stands before us, new ways of doing things.">
</PageTop>


<div class="gap-3" style="max-width:@GR.W667px">


    <ArticleBlock Title="By Yukteswar - Serampore 1870s" IconName="mdi:religion-hindu">
        <TextHTML>
            <p class="text-justify">
                A short discussion with mathematical calculations
                of the yugas or ages will explain the fact that
                the present age for the world is <strong>Dwapara Yuga</strong>,
                and that 194 years of the Yuga have now (A.D.
                1894) passed away, bringing a rapid developn1ent
                in man's knowledge.
            </p>
            <p class="text-justify">
                We learn from Oriental astronomy that
                moons revolve around their pla11ets, and planets
                turning on their axes revolve with their moons
                round the sun; and the sun, with its planets ancl
                their moons, takes some star for its dual and revolves
                round it in about 24,000 years of our
                earth-a celestial phenomenon which causes the
                backward movement of the equinoctial points
                around the zodiac. The sun also has another 1110-
                tion by which it revolves round a grand cen.ter
                called Vishnunabhi, which is the seat of the creative
                power, Brah,ma, the universal magnetism. Brah"fna
                regulates dharma, the mental virtue of the internal
                world.
            </p>
            <p class="text-justify">
                When the sun in its revolutio11 round its dual
                co1nes to the place nearest to this grand center,
                the seat of Brahnia (an event which takes place
                when the Autun1nal Equinox comes to the first
                point of Aries), dharrna, the 1nental virtue, becomes
                so much developed that man can easily
                comprehend all, even the 1nysteries of Spirit.
            </p>
            <p class="text-justify">
                The Autumnal Equir1ox will be falling, at the
                beginning of the twentieth century, among the
                fixed stars of the Virgo constellation, and in the
                early part of the Ascending Dwapara Yuga.*
                After 12,000 years, wher1 the sun goes to the
                place in its orbit which is farthest fro1n Brahma,
                the grand center (an even.t which takes place
                when the Autumnal Equinox is on the first point
                of Libra), dharrna, the mental virtue, co1nes to
                such a reduced state that rnan cannot grasp anything
                beyond the gross material creation. Again,
                in the same manner, whe11 the sun i11 its course of
                revolution begins to advance toward the place
                nearest to the grand center, dharma, the mental
                virtue, begins to develop; this growth is gradually
                co1npleted i11 another 12,000 years.
            </p>
            <p class="text-justify">
                Each of these periods of 12,000 years brings
                a complete change, both externally in the material
                world, and internally in the intellectual or electric
                world, and is called one of the Daiva Yugas or
                Electric Cou pie. Thus, in a period of 24,000
                years, the sun completes the revolution around its
                dual and finishes one electric cycle consisting of
                12,000 years in ar1 ascending arc and 12,000 years
                in a descer1ding arc~
                Development of dharma, the mental virtue, is
                but gradual and is divided into four different
                stages in a period of 12,000 years. The time of
                1200 years during wl1ich the sun passes through a
                1120th portion. of its orbit (see Diagram) is called
                Kali Yuga. Dharrnaj the mental virtue, is then in its
                first stage and is only a quarter developed; the
                human intellect cannot co1nprehend anything
                beyoncl the gross material of this ever-changing
                creation, the extern.al world.
            </p>
            <p class="text-justify">
                The period of 2400 years during which the
                sun passes throt1gh tl1e 2120th portion of its orbit
                is called Dwapara Yuga. Dharma, the rnental virtue,
                is then. in the second stage of development
                and is but half complete; the human intellect can
                then comprehend the fine matters or electricities
                and their attributes which are the creatir1g principles
                of the external world.
            </p>
            <p class="text-justify">
                
                The period of 3600 years during which the
                sun passes through the 3120th part of its orbit is
                called .-rreta Yuga .. IJharma, the mental virtue, is
                then in the third stage; the human intellect becomes
                able to comprehend the divine magnetisn-i,
                the source of all electrical forces on which the
                creation depends for its existence.
                
                rrhe period of 4800 years during which the
                sun passes through the remaining 4120th portion
                of its orbit is called Satya Yuga .. Dharrna, the n1-ental
                virtue, is then in its four th stage and corr1 pletes
                its full developn1ent; the hun1an intellect can
                cornprehend all, even God the Spirit beyor1d th.is
                visible world.
            </p>

        </TextHTML>
    </ArticleBlock>
    

</div>



@code {

}
