@using Genso.Astrology.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.OpenAPI)]

<PageTitle>Open API | VedAstro</PageTitle>

<PageTop Title="Open API" IconName="carbon:gateway-api">
    <Description>Access powerful astrological tools via a simple HTTP request for free.</Description>
</PageTop>


<div>

    <h4 class="fw-bold">Get started</h4>
    <p class="text-justify gap-2" style="max-width:@AppData.MaxWidth;">
        Make a HTTP GET request using any language you want. With no authentication needed.
        Below examples are done with <span class="fw-bold">Sun</span> as the planet,<span class="fw-bold">Singapore</span> as the example and the time used is
        <span class="fw-bold">11:59PM 31st December 2000 UTC +08:00</span>. It's very important you follow the case-sensitive URL format exactly,
        else the call will fail. This API is under constant development, so please report if you
        find bugs to help others.
    </p>

    <p>
        API Server Address<br/>
        <kbd>https://www.vedastro.org/api/...</kbd>
    </p>
@*    <p>
        Note: ... = https://www.vedastro.org/api
        So final call will look like https://www.vedastro.org/api/Location/Singapore/Time/23:59/31/12/2000/+08:00/Planet/Sun/Sign
    </p>
*@
    @*    case "Rasi":
    case "Sign": returnVal = AstronomicalCalculator.GetPlanetRasiSign(planetName, parsedTime).ToString(); break;
    case "Navamsa": returnVal = AstronomicalCalculator.GetPlanetNavamsaSign(planetName, parsedTime).ToString(); break;
    case "Dwadasamsa": returnVal = AstronomicalCalculator.GetPlanetDwadasamsaSign(planetName, parsedTime).ToString(); break;
    case "Constellation": returnVal = AstronomicalCalculator.GetPlanetConstellation(parsedTime, planetName).ToString(); break;
    case "Kranti":
    case "Declination": returnVal = AstronomicalCalculator.GetPlanetDeclination(planetName, parsedTime).ToString(); break;
    case "AspectingPlanets": returnVal = AstronomicalCalculator.GetPlanetsAspectingPlanet(parsedTime, planetName).ToString(); break;
    case "Motion": returnVal = AstronomicalCalculator.GetPlanetMotionName(planetName, parsedTime).ToString(); break;
    case "FixedLongitude":
    case "NirayanaLongitude": returnVal = AstronomicalCalculator.GetPlanetNirayanaLongitude(parsedTime, planetName).ToString(); break;
    case "MovableLongitude":
    case "SayanaLongitude": returnVal = AstronomicalCalculator.GetPlanetSayanaLongitude(parsedTime, planetName).ToString(); break;
    *@


    <table class="table table-striped table-hover table-bordered mb-5 mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col">Planet Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">
                    <div class="gap-1 vstack mb-1">
                        <b style="font-size: 22px;">Rasi / Sign</b>
                        <p style="margin: 0px; font-size: 15px;">Gets the zodiac sign behind a planet at a given time. (Sayana)</p>
                        <kbd>.../Location/Singapore/Time/23:59/31/12/2000/+08:00/Planet/Sun/Sign</kbd>
                    </div>
                </td>
            </tr>
            <tr>
                <td scope="row">
                    <div class="gap-1 vstack mb-1">
                        <b style="font-size: 22px;">Navamsa Sign</b>
                        <p style="margin: 0px; font-size: 15px;">Gets the Navamsa sign of a planet at a given time.</p>
                        <kbd>.../Location/Singapore/Time/23:59/31/12/2000/+08:00/Planet/Sun/Navamsa</kbd>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <hr class="border border-primary border-2 opacity-75 mt-3">

    <h4 class="fw-bold">What is Open API?</h4>
    <p class="text-justify" style="max-width:@AppData.MaxWidth;">
        An open API (often referred to as a public API) is a publicly available application programming interface
        that provides developers with programmatic access to software application or web service.
    </p>

    <h4 class="fw-bold">API Server up-time?</h4>
    <p class="text-justify" style="max-width:@AppData.MaxWidth;">
        We use Azure Functions to run by reputable Microsoft server farms all over the world.
        So overall up-time is almost 99%, not taking into account failures from bad code.
    </p>
</div>

@code {

}
