@using Genso.Astrology.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.OpenAPI)]

<PageTitle>Open API</PageTitle>

<PageTop Title="Open API | VedAstro" IconName="simple-icons:aiohttp">
    <Description>Access powerful astrological tools via a simple HTTP request for free.</Description>
</PageTop>

<h3>What is Open API?</h3>
<h3>What is Open API?</h3>
<p>An open API (often referred to as a public API) is a publicly available application programming interface
    that provides developers with programmatic access to a proprietary software application or web service.</p>


@code {

}
