@*
    Small component placed on page top
*@

<div class="vstack gap-2">
    <h2 class="fw-bold">@Title</h2>
    <h6>@Description</h6>
    @ButtonsRow
    <hr />
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public RenderFragment? ButtonsRow { get; set; }
}
