
<div class="vstack gap-2">
    <h2 class="fw-bold">@Title</h2>
    <h6>@Description</h6>
    <hr />
</div>



@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Description { get; set; }

}
