@*
    Small component placed on page top
*@

<div class="vstack">
    <h1 class="fw-bold">@Title</h1>
    <p class="fs-5 col-md-8" style="max-width: 443px;">@Description</p>
    @if (ButtonsRow != null)
    {
        <div class="hstack gap-4">
            @ButtonsRow
        </div>
    }
    <hr />
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? Description { get; set; }

    [Parameter]
    public RenderFragment? ButtonsRow { get; set; }
}
