@using System.Collections
@using Genso.Astrology.Library

@*Component shows combo box with people list*@

<div>
    <label>@Label</label>
    <select @bind="SelectedPersonName" class="form-control">
        <option value="">Select Name</option>
        @DropDownOptionsHtml
    </select>
</div>


@code {

    //DEFAULTS
    const string DefaultLabel = "Person";


    private MarkupString DropDownOptionsHtml { get; set; } = new("");



    //PARAMETERS

    /// <summary>
    /// Get selected person name
    /// </summary>
    [Parameter]
    public string SelectedPersonName
    {
        get => _selectedPersonName;
        set
        {
            //this stops update loops
            if (_selectedPersonName == value) return;
            _selectedPersonName = value;
            //update value in parent page
            SelectedPersonNameChanged.InvokeAsync(value);
        }
    }

    private string _selectedPersonName = "";


    /// <summary>
    /// Set list to show in drop down
    /// </summary>
    //private List<Person>? PersonList { get; set; } //data from URL not necessary provided

    /// <summary>
    /// Text that is shown above list
    /// </summary>
    [Parameter]
    public string? Label { get; set; } = DefaultLabel;


    //below are needed for 2-way binding between page & component to work
    [Parameter]
    public EventCallback<string> SelectedPersonNameChanged { get; set; }


    public void SetData(List<Person> personList)
    {
        var html = "";

        //generate drop down options in html
        foreach (var person in personList)
        {
            html += $"<option value=\"{person.GetName()}\">{person.GetName()} - {person.BirthYear}</option>";
        }

        //set drop down list into view
        DropDownOptionsHtml = new MarkupString(html);

        //need to propagate changes
        this.StateHasChanged();

    }

}
