@using System.Collections
@using Genso.Astrology.Library

@*Component shows combo box with people list*@

<div>
    <label class="form-label">@Label</label>
    <select @bind="SelectedPersonId" class="form-control" style="width: fit-content;min-width: 273px;">
        <option value="">Select Name</option>
        @DropDownOptionsHtml
    </select>
</div>


@code {

    //DEFAULTS
    const string DefaultLabel = "Person";
    private MarkupString DropDownOptionsHtml { get; set; } = new("");


    //PARAMETERS

    /// <summary>
    /// Get selected person name
    /// </summary>
    [Parameter]
    public string SelectedPersonId
    {
        get => _selectedPersonId;
        set
        {
            //this stops update loops
            if (_selectedPersonId == value) return;

            //log this, don't await to reduce lag
            WebsiteLogManager.LogData(_jsRuntime, $"Selected Person:{value}");

            _selectedPersonId = value;
            //update value in parent page
            SelectedPersonIdChanged.InvokeAsync(value);
        }
    }

    private const string NotSelectedPersonId = "0";
    private string _selectedPersonId = NotSelectedPersonId;


    /// <summary>
    /// Text that is shown above list
    /// </summary>
    [Parameter]
    public string? Label { get; set; } = DefaultLabel;


    //below prop needed for 2-way binding between page & component to work
    [Parameter]
    public EventCallback<string> SelectedPersonIdChanged { get; set; }




    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER

    protected override async Task OnInitializedAsync() => await InvokeAsync(async () => await _OnInitialized()).Try(_jsRuntime);



    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█


    private async Task _OnInitialized()
    {

        //show loading box
        await _jsRuntime.ShowLoading();

        //else use already available list
        await FillDropDown();

        //hide loading box
        _jsRuntime.HideLoading();
    }

    private async Task FillDropDown()
    {
        var html = "";

        var personList = await AppData.TryGetPersonList(_jsRuntime);

        //generate drop down options in html
        foreach (var person in personList)
        {
            html += $"<option value=\"{person.Id}\">{person.Name} - {person.BirthYear}</option>";
        }

        //set drop down list into view
        DropDownOptionsHtml = new MarkupString(html);

        //need to propagate changes
        this.StateHasChanged();

    }

    public async Task<Person> GetSelectedPerson() => await WebsiteTools.GetPersonFromIdCached(SelectedPersonId, _jsRuntime);

    /// <summary>
    /// True if a person has been selected else false
    /// </summary>
    public bool IsPersonSelected => SelectedPersonId != NotSelectedPersonId && SelectedPersonId != null && SelectedPersonId != "";

}
