@using Genso.Astrology.Library
@attribute [Route(PageRoute.PersonList)]

<PageTitle>Person List</PageTitle>

<PageTop Title="Person List" Description="This is a list of all person profiles available, you can also add or edit persons." />

<div class="hstack gap-4">
    <button @onclick="OnClickAddPerson" class="btn btn-primary">Add Person</button>
</div>



<div class="container mt-3">
    <div id="@TableId"></div>
</div>



@code {

    //FIELDS
    const string TableId = "PersonListTable"; //change only needed here


    //code executed after page has been rendered
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //generate table
        if (firstRender) { await GenerateTable(); }
    }


    private async Task GenerateTable()
    {
        await _globalVariable.LoadingMessage.Show();

        //get all people from API server
        var personList = await _globalVariable.GetPeopleList();

        //convert objects to json (for js generator library)
        //and calls js code change table directly
        await _jsRuntime.InvokeVoidAsync("generatePersonListTable", TableId, personList.ToArray());

        await _globalVariable.LoadingMessage.Hide();

    }


    //--------------------EVENT HANDLERS

    public void OnClickAddPerson(MouseEventArgs obj) => _navigation.NavigateTo(PageRoute.PersonEditor);

}