@using VedAstro.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.Remedy)]

<PageTitle>Astro Remedy | VedAstro</PageTitle>

<PageTop ImageName="join-our-family.svg"
         Title="Astro Remedy"
         DescriptionText="Brainstorm ideas, solve problems, learn &amp; share new skills. We are not just a dev team, we are a dev family.">
</PageTop>


<div class="gap-3" style="max-width:@GR.W667px">

    <div class="hstack gap-2 mb-5">

        <div class="card" style="width: 18rem;">
            <img width="@GR.W255px" src="images/astro-bangle-2-silver.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">3 Metal Bangle</h5>
                <p class="card-text">
                    - made from gold, silver &amp; copper<br />
                    - design to maximize contact with skin<br />
                </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img width="@GR.W255px" src="images/astro-bangle-gem.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">9 Gem Bangle</h5>
                <p class="card-text">
                    - each stone 2 carats and above<br />
                    - stones set to maximize contact with skin<br />
                    - man-made sapphires &amp; diamonds work<br />
                </p>
            </div>
        </div>

    </div>

    <ArticleBlock Title="Why wear an astrological bangle?" IconName="twemoji:world-map">
        <TextHTML>
            <p class="text-justify">
                It is only when a traveler has reached his goal that he is justified in discarding his maps.
                During the journey, he takes advantage of any convenient shortcut. The <strong>ancient rishis discovered</strong> many
                ways to curtail the period of man's exile in delusion. There are certain mechanical features in the
                law of karma which can be skillfully adjusted by the fingers of wisdom
            </p>
            <p class="text-justify">
                "All human ills arise from some transgression of universal law. The scriptures point out that man
                must satisfy the laws of nature, while not discrediting the divine omnipotence.
                He should say: 'Lord, I trust in Thee, and know Thou canst help me, but I too will do my best to undo any wrong I have done.'
                By a number of means, prayer, will power, yoga meditation, by consultation with saints,
                by use of astrological bangles-the adverse effects of past wrongs can be minimized or nullified
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="When needed?" IconName="twemoji:cloud-with-lightning-and-rain">
        <TextHTML>
            <p class="text-justify">
                Just as a house can be fitted with a copper rod to absorb the shock of lightning, so the bodily temple can be benefited by
                various protective measures. Ages ago our yogis discovered that pure metals emit an astral light which is powerfully
                counteractive to negative pulls of the planets. Subtle electrical and magnetic radiations are constantly circulating
                in the universe; when a man's body is being aided, he does not know it; when it is being disintegrated, he is still in ignorance.
                Can he do anything about it?
            </p>
            <p class="text-justify">
                This problem received attention from our rishis; they found helpful not only a combination of <strong>metals</strong>,
                but also of <strong>plants</strong> and most effective of all-faultless jewels of not less than two carats.
                The preventive uses of astrology have seldom been seriously studied outside of India.
                One little-known fact is that the proper jewels, metals, or plant preparations are valueless
                unless the required weight is secured, and unless these remedial agents are worn <strong>next to the skin</strong>.
            </p>

            <div>
                <figure class="text-center mt-5" style="cursor: pointer;" @onclick="() => _jsRuntime.OpenNewTab(URL.YoganandaWiki)">
                    <blockquote class="blockquote">
                        <p>Sir, of course I shall take your advice and get a bangle. I am intrigued at the thought of outwitting a planet!</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Yogananda @*<cite title="Source Title">Singer Beatles 60'</cite>*@
                    </figcaption>
                </figure>
            </div>

        </TextHTML>
    </ArticleBlock>



</div>






@code {

}
