@using VedAstro.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.Remedy)]

<PageTitle>Astro Remedy | VedAstro</PageTitle>

<PageTop ImageName="join-our-family.svg"
         Title="Astro Remedy"
         DescriptionText="Overcome planet's negative pull with artificial light from gems and metals">
</PageTop>


<div class="gap-3" style="max-width:@GR.W667px">

    <div class="hstack gap-2 mb-5 align-items-stretch">

        <div class="card" style="width: 18rem;">
            <img width="@GR.W255px" src="images/astro-bangle-2-silver.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">3 Metal Bangle</h5>
                <p class="card-text">
                    <strong>FORMULA:</strong><br />
                    - made from gold, silver &amp; copper<br/>
                    - minimum bangle weight 300g (100g/strand)<br/>
                    - 99.9% purity for all metals<br/>
                </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img width="@GR.W255px" src="images/astro-bangle-gem.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">9 Gem Bangle</h5>
                <p class="card-text">
                    <strong>FORMULA:</strong><br />
                    - each stone 2 carats minimum<br/>
                    - stones set to maximize contact with skin<br/>
                    - man-made sapphires &amp; diamonds work<br/>
                </p>
            </div>
        </div>

    </div>

    <ArticleBlock Title="Why?" IconName="twemoji:world-map">
        <TextHTML>
            <p class="text-justify">
                It is only when a traveler has reached his goal that he is justified in discarding his maps.
                During the journey, he takes advantage of any convenient shortcut. The <strong>ancient rishis discovered</strong> many
                ways to curtail the period of man's exile in delusion. There are certain mechanical features in the
                law of karma which can be skillfully adjusted by the fingers of wisdom
            </p>
            <p class="text-justify">
                By a number of means, prayer, will power, yoga meditation, by consultation with saints and
                by use of <strong>astrological bangles</strong>. The adverse effects of past wrongs can be minimized or nullified.
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="When needed?" IconName="twemoji:cloud-with-lightning-and-rain">
        <TextHTML>
            <p class="text-justify">
                Just as a house can be fitted with a copper rod to absorb the shock of lightning, so the bodily temple can be benefited by
                various protective measures. Ages ago our yogis discovered that pure metals <strong>emit an astral light</strong> which is powerfully
                counteractive to negative pulls of the planets. Subtle electrical and magnetic radiations are constantly circulating
                in the universe; when a man's body is being aided, he does not know it; when it is being disintegrated, he is still in ignorance.
                <strong>Can he do anything about it?</strong>
            </p>
            <p class="text-justify">
                This problem received attention from our rishis; they found helpful not only a combination of <strong>metals</strong>,
                but also of <strong>plants</strong> and most effective of all-faultless jewels of not less than two carats.
                The preventive uses of astrology have seldom been seriously studied outside of India.
                One little-known fact is that the proper jewels, metals, or plant preparations are valueless
                unless the required weight is secured, and unless these remedial agents are worn <strong>next to the skin</strong>.
            </p>
            
            
            <QuoteTextBlock Author="Yukteswar Giri" URL="@URL.YukteswarWiki">
                will not be missed by those for whom it is meant
            </QuoteTextBlock>

        </TextHTML>
    </ArticleBlock>



</div>






@code {

}
