@using VedAstro.Library
@attribute [Route(PageRoute.ShippingDelivery)]

<PageTitle>Shipping &amp; Delivery</PageTitle>


<div class="container p-4" style="max-width: 768px;">

    <h1>Shipping and Delivery Policy</h1>
    <h2>Shipping Process</h2>
    <p>Orders are processed within 2-3 business days. Shipping times depend on the selected shipping speed and the distance of the destination.</p>
    <h2>International Shipping</h2>
    <p>We offer international shipping to select countries. Please note that you, the buyer, are responsible for any VAT, tariff, duty, taxes, handling fees, customs clearance charges, etc. required by your country for importing consumer goods.</p>
    <h2>Delivery Time</h2>
    <p>While we do our best to get your order to you as quickly as possible, delivery times can vary depending on a number of factors including the shipping method selected during checkout.</p>
    <h2>Shipping Rates</h2>
    <p>Shipping rates are calculated based on the weight of the order and its destination. To check the shipping rate for your order, please proceed to checkout.</p>
    <h2>Order Tracking</h2>
    <p>Once your order has shipped, we will send you a shipping confirmation email with a link to track the order on the carrier's website.</p>

</div>

@code {

}
