@using Genso.Astrology.Library


<div class="g-4 row row-cols-1 row-cols-md-2">
    <div>
        <HelpBox Label="Planet Strength" SmallIcon="true" HelpText="@HelpText.PlanetStrength"></HelpBox>
        <canvas class="rounded border" id="PlanetChart" style="max-width: 400px; max-height: 247px; background: #f5f5f9;"></canvas>
    </div>
    <div>
        <HelpBox Label="House Strength" SmallIcon="true" HelpText="@HelpText.HouseStrength"></HelpBox>
        <canvas class="rounded border" id="HouseChart" style="max-width: 400px; max-height: 247px; background: #f5f5f9;"></canvas>
    </div>
</div>

@code {

    [Parameter]
    public Time Time
    {
        get => _time;
        set
        {
            //don't set if null
            if (value == null) { return; }
            
            _time = value;
            //needed for updates to be shown on 2nd click
            StateHasChanged();
        }
    }


    private double _shadbalaPindaSun;
    private double _shadbalaPindaMoon;
    private double _shadbalaPindaMercury;
    private double _shadbalaPindaMars;
    private double _shadbalaPindaJupiter;
    private double _shadbalaPindaSaturn;
    private double _shadbalaPindaVenus;
    private double _shadbalaPindaRahu;
    private double _shadbalaPindaKetu;
    private Time _time;

    private double _house1, _house2, _house3, _house4, _house5, _house6, _house7, _house8, _house9, _house10, _house11, _house12;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        //PLANET
        //get planet details and save it for view
        _shadbalaPindaSun = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Sun, Time).ToDouble();
        _shadbalaPindaMoon = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Moon, Time).ToDouble();
        _shadbalaPindaMercury = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Mercury, Time).ToDouble();
        _shadbalaPindaMars = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Mars, Time).ToDouble();
        _shadbalaPindaJupiter = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Jupiter, Time).ToDouble();
        _shadbalaPindaSaturn = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Saturn, Time).ToDouble();
        _shadbalaPindaVenus = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Venus, Time).ToDouble();
        _shadbalaPindaRahu = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Rahu, Time).ToDouble();
        _shadbalaPindaKetu = AstronomicalCalculator.GetPlanetShadbalaPinda(PlanetName.Ketu, Time).ToDouble();

        //generate JS bar chart with calculated values
        //note : done here so needed element is available
        //sun, moon, mercury, mars, jupiter, saturn, venus
        await _jsRuntime.InvokeVoidAsync("DrawPlanetStrengthChart",
            _shadbalaPindaSun,
            _shadbalaPindaMoon,
            _shadbalaPindaMercury,
            _shadbalaPindaMars,
            _shadbalaPindaJupiter,
            _shadbalaPindaSaturn,
            _shadbalaPindaVenus,
            _shadbalaPindaRahu,
            _shadbalaPindaKetu
            );


        //HOUSE
        _house1 = AstronomicalCalculator.GetBhavabala((HouseName)1, Time).ToDouble();
        _house2 = AstronomicalCalculator.GetBhavabala((HouseName)2, Time).ToDouble();
        _house3 = AstronomicalCalculator.GetBhavabala((HouseName)3, Time).ToDouble();
        _house4 = AstronomicalCalculator.GetBhavabala((HouseName)4, Time).ToDouble();
        _house5 = AstronomicalCalculator.GetBhavabala((HouseName)5, Time).ToDouble();
        _house6 = AstronomicalCalculator.GetBhavabala((HouseName)6, Time).ToDouble();
        _house7 = AstronomicalCalculator.GetBhavabala((HouseName)7, Time).ToDouble();
        _house8 = AstronomicalCalculator.GetBhavabala((HouseName)8, Time).ToDouble();
        _house9 = AstronomicalCalculator.GetBhavabala((HouseName)9, Time).ToDouble();
        _house10 = AstronomicalCalculator.GetBhavabala((HouseName)10, Time).ToDouble();
        _house11 = AstronomicalCalculator.GetBhavabala((HouseName)11, Time).ToDouble();
        _house12 = AstronomicalCalculator.GetBhavabala((HouseName)12, Time).ToDouble();

        //generate JS bar chart with calculated values
        //note : done here so needed element is available
        //sun, moon, mercury, mars, jupiter, saturn, venus
        await _jsRuntime.InvokeVoidAsync("DrawHouseStrengthChart",
            _house1,
            _house2,
            _house3,
            _house4,
            _house5,
            _house6,
            _house7,
            _house8,
            _house9,
            _house10,
            _house11,
            _house12
            );



    }

}
