@using Genso.Astrology.Library

<div class="hstack gap-2">
    <div style="width: fit-content;">
        <label class="form-label" >Time (24H)</label>
        <input style="max-width: 72px;" class="form-control" @bind="HourMin" type="text" placeholder="16:20">
    </div>
    <div style="width: fit-content;">
        <label class="form-label" >Date</label>
        <input style="max-width: 117px;" class="form-control" @bind="Date" type="text" placeholder="16/04/2021">
    </div>
    <div style="width: fit-content;">
        <label class="form-label">Timezone</label>
        <input style="max-width: 86px;" class="form-control" @bind="TimeZone" type="text" placeholder="+08:00">
    </div>
</div>


@code {

    public string? HourMin
    {
        get => _hourMin;
        set
        {
            _hourMin = value;
            StateHasChanged();
        }
    }

    public string? Date
    {
        get => _date;
        set
        {
            _date = value;
            StateHasChanged();
        }
    }

    public string? TimeZone
    {
        get => _timeZone;
        set
        {
            _timeZone = value;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Gets parseable time string
    /// </summary>
    public string? FullTimeString
    {
        get => $"{HourMin} {Date} {TimeZone}";
        set { return; }
    }


    private string? _hourMin = DateTime.Today.ToString("HH:mm");
    private string? _date = DateTime.Today.ToString("dd/MM/yyyy");
    private string? _timeZone = DateTimeOffset.Now.ToString("zzz");


    /// <summary>
    /// Creates a new time instance with inputed time data
    /// </summary>
    public Time GetTime(GeoLocation geoLocation) => new(this.FullTimeString, geoLocation);

}
