@using VedAstro.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.TrainAIAstrologer)]

<PageTitle>Help Teach AI</PageTitle>

<PageTop ImageName="train-ai-astrologer.svg"
         Title="Train AI Astrologer"
         DescriptionText="Your feedback helps improve the Machine Learning model. Together we can create a very accurate AI based predictor.">
</PageTop>

<div class="gap-3" style="max-width: @GR.W667px">
    <ArticleBlock Title="How It Works" IconName="flat-color-icons:automotive">
        <TextHTML>
            <p class="text-justify">
                Using vedic astrology data as start point, we create a table of predictions for different aspects a human life.
                For now we take 12 aspects, representing the 12 houses. These is not limited to 12 and it will be expanded.
                During this process, we assume the data being fed into the model 100% is accurate. This is necessary in the beginning.
                Then we use that trained model to make predictions for a new person not in the original data set. It can also be compared to
                a predictions made by conventional astrology only, this would give further insight into improving the vedic calculations. 
            </p>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Global Effort" IconName="fluent-emoji-flat:globe-showing-europe-africa">
        <ButtonRow>
            <IconButton ClickUrl="@PageRoute.JoinOurFamily" ButtonText="Join" />
        </ButtonRow>
        <TextHTML>
            <p class="text-justify">
                These prediction is then further improved by humans. This is where we take ML training collected from people all over the world
                into one data-set. Allowing the creation of a universal <strong>AI Astrologer</strong>. Pumping the input received from users back into the
                model training pipeline, allows us to a create a self correcting feedback loop.
                With time and continues improvement this tool holds <strong>great potential</strong> for the benefit of all people.
            </p>
        </TextHTML>
    </ArticleBlock>


</div>


@code {

}
