@attribute [Route(PageRoute.DonatePayment)]

<PageTitle>Donate Payment</PageTitle>

<PageTop Title="Payment Options" IconName="iconoir:donate">
    <Description>Below are a few ways you can make payment for your donation.</Description>
</PageTop>

<p>Don't see your preferred payment method? <a href="@PageRoute.Contact">Contact us</a></p>

<h4 class="mt-4">Paypal Donate</h4>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="WMZ6GHXAFWW2S">
    <table>
        <tr><td><input type="hidden" name="on0" value="Donate Amount">Donate Amount</td></tr>
        <tr>
            <td>
                <select name="os0">
                    <option value="Donate">Donate $1.00 USD</option>
                    <option value="Donate">Donate $5.00 USD</option>
                    <option value="Donate">Donate $10.00 USD</option>
                    <option value="Donate">Donate $30.00 USD</option>
                    <option value="Donate">Donate $50.00 USD</option>
                    <option value="Donate">Donate $80.00 USD</option>
                    <option value="Donate">Donate $100.00 USD</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<hr/>

<h4 class="mt-4">Crypto Donate</h4>
<div class="vstack gap-1">

    <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/luno-btc-donate.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">
                        <span class="me-3 iconify" data-icon="cryptocurrency:btc" data-width="25" data-height="25"></span>
                        Bitcoin
                    </h5>
                    <p class="card-text">3Ky3AXYvxTNUmJuGMGhX1Vqa4RZbhrFPbQ</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/luno-ltc-donate.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">
                        <span class="me-3 iconify" data-icon="cryptocurrency:ltc" data-width="25" data-height="25"></span>
                        Litecoin
                    </h5>
                    <p class="card-text">MV2Uot32vCT1KDWbMpDTZ5JMdrjJ3E8WfL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="images/luno-eth-donate.png" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">
                        <span class="me-3 iconify" data-icon="cryptocurrency:eth" data-width="25" data-height="25"></span>
                        Ethereum
                    </h5>
                    <p class="card-text">0x92d275C0e511853baE90560a2928f784AEfE3144</p>
                </div>
            </div>
        </div>
    </div>
</div>@*
    <table class="table table-sm text-muted border">
                      <thead>
                        <tr>
                          <th scope="col">CRYPTOCURRENCY</th>
                          <th scope="col">WALLET ADDRESS</th>
                          <th scope="col">QR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!--BTC ROW-->
                        <tr>
                          <th scope="row">
                              <span height="25px;" alt="LTC" class="me-3 iconify" data-icon="cryptocurrency:btc" data-width="25" data-height="25"></span> Bitcoin
                          </th>
                          <td>
                            <span id="copy-btc-wallet" class="d-none d-lg-inline-block">3Ky3AXYvxTNUmJuGMGhX1Vqa4RZbhrFPbQ</span>
                            <i class="far fa-copy ripple clipboard" role="button" data-mdb-clipboard-target="#copy-btc-wallet"></i>
                          </td>
                          <td class="fw-bold"><img src="images/luno-btc-donate.png" class="img-fluid rounded-start"></td>
                        </tr>
                        <!--BTC ROW-->

                      <!--LTC ROW-->
                        <tr>
                          <th scope="row">
                              <span height="25px;" alt="LTC" class="me-3 iconify" data-icon="cryptocurrency:ltc" data-width="25" data-height="25"></span> Litecoin
                          </th>
                          <td>
                            <span id="copy-ltc-wallet" class="d-none d-lg-inline-block">MV2Uot32vCT1KDWbMpDTZ5JMdrjJ3E8WfL</span>
                            <i class="far fa-copy ripple clipboard" role="button" data-mdb-clipboard-target="#copy-btc-wallet"></i>
                          </td>
                          <td class="fw-bold"><img src="images/luno-ltc-donate.png" class="img-fluid rounded-start"></td>
                        </tr>
                        <!--LTC ROW-->

                      <!--ETH ROW-->
                        <tr>
                          <th scope="row">
                              <span height="25px;" alt="LTC" class="me-3 iconify" data-icon="cryptocurrency:eth" data-width="25" data-height="25"></span> Ethereum
                          </th>
                          <td>
                            <span id="copy-ltc-wallet" class="d-none d-lg-inline-block">0x92d275C0e511853baE90560a2928f784AEfE3144</span>
                            <i class="far fa-copy ripple clipboard" role="button" data-mdb-clipboard-target="#copy-btc-wallet"></i>
                          </td>
                          <td class="fw-bold"><img src="images/luno-eth-donate.png" class="img-fluid rounded-start"></td>
                        </tr>
                        <!--ETH ROW-->


                      </tbody>

                    </table>*@


@code {

}
