@using VedAstro.Library
@attribute [Route(PageRoute.ThankYou)]

<PageTitle>Thank You</PageTitle>



<div class="d-flex flex-column justify-content-center" style="max-width:@GR.W667px;">
    <img style="max-width:@GR.W255px;" src="images/donate-thank-you.png" />
    <H1>Thank You</H1>
    <H4>Your kind contribution<br />means the world to us.</H4>
    <p>We will reach out to you via email soon.</p>
</div>

<hr />


@code {

    protected override async Task OnInitializedAsync()
    {
        //little log
        await WebsiteTools.SendMailToAPI("User in Thank You page", AppData.ClientLocation.Name());

    }

}
