@inherits LayoutComponentBase

@*
    NOTE : Components here are loaded same time as page,
    so component might not exist when page needs it.
    Thus page must check & wait during init.
*@


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    @* this is where global loading message gets created*@
    <Website.Pages.LoadingMessage @ref="_globalVariable.LoadingMessage" />

    <main>
        <article class="content px-4 mb-5">
            @Body
        </article>
    </main>
</div>


@code
{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            //log visit everytime page is rendered
            await WebsiteTools.LogVisitor(_jsRuntime);
        }
        catch (Exception e)
        {
            //if fail exit silently, not priority
            Console.WriteLine("BLZ: LogVisitor: Failed!");
        }
    }

}
