@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    @* this is where global loading message gets created*@
    <Website.Pages.LoadingMessage @ref="_globalVariable.loadingMessage"/>

    @* this is where global variable alert message gets created*@
    <AlertMessage @ref="_globalVariable.Alert"/>
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4 mb-5">
            @Body
        </article>

    </main>
</div>

