@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
@*        <div class="card">
            <h5 class="card-header">Like AstroVed?</h5>
            <div class="card-body">
                <h5 class="card-title">Donate to support</h5>
                <p class="card-text">Your donation will fund programming & cloud server costs.</p>
                <a href="#" class="btn btn-primary">Donate</a>
            </div>
        </div>
*@    </main>
</div>
