@using System.Text.Json
@using System.Text.Json.Nodes
@using System.Xml
@using System.Xml.Linq
@using Genso.Astrology.Library
@using Newtonsoft.Json
@inherits LayoutComponentBase

@*
    NOTE : Components here are loaded same time as page,
    so component might not exist when page needs it.
    Thus page must check & wait during init.
*@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    @* this is where global loading message gets created*@
    <Website.Pages.LoadingMessage @ref="_globalVariable.LoadingMessage" />

    <main>
        @*        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>
        *@

        <article class="content px-4 mb-5">
            @* this is where global variable alert message gets created*@
            <AlertMessage @ref="_globalVariable.Alert" />

            @Body
        </article>

    </main>
</div>


@code
{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //log visit everytime page is rendered
        await WebsiteTools.LogVisitor(_jsRuntime);
    }

}
