@using Website.Managers
@inherits LayoutComponentBase

@*
    NOTE : Components here are loaded same time as page,
    so component might not exist when page needs it.
    Thus page must check & wait during init.
*@


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    @* this is where global loading message gets created*@
    <Website.Pages.LoadingMessage @ref="_globalVariable.LoadingMessage" />
    <main>
        <article class="content px-4 mb-5">
            @*Custom component to handle all errors properly*@
            <ErrorHandler OnError="OnError">
                @Body
            </ErrorHandler>
        </article>
    </main>
</div>




@code
{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //log visit everytime page is rendered
        await WebsiteLogManager.LogVisitor(_jsRuntime);
    }

    /// <summary>
    /// Log error to server
    /// </summary>
    private void OnError(Exception exception) => WebsiteLogManager.LogError(_jsRuntime, exception);
}




