@*<button @onclick="OnClickButton" class="btn btn-primary">@_buttonText</button>
*@


<div class="rounded" style="background: rgba(0, 255, 255, 0.1)">

    @*default show Sign In button*@
    <div @ref="_googleSignInButton" id="GoogleSignInButton" @onclick="OnClickSignInButton" style="text-align: -webkit-center;" class="g-signin2" data-onsuccess="onSignInSuccessHandler" data-theme="dark"></div>

    <div class="vstack gap-1" style="padding: 6px;">
        <span class="" style="align-self: center;padding: 10px; color: white;">@_greetText</span>
        @*default hide Sign Out button*@
        <button @ref="_googleSignOutButton" style="display: none" onclick="onClickGoogleSignOutButton()" class="btn btn-primary">Sign Out</button>
    </div>

</div>

@code {


    //▒█▀▀▀ ▀█▀ ▒█▀▀▀ ▒█░░░ ▒█▀▀▄ ▒█▀▀▀█ 　 ░█▀▀█ ▒█▄░▒█ ▒█▀▀▄ 　 ▒█▀▀█ ▒█▀▀█ ▒█▀▀▀█ ▒█▀▀█ ▒█▀▀▀█
    //▒█▀▀▀ ▒█░ ▒█▀▀▀ ▒█░░░ ▒█░▒█ ░▀▀▀▄▄ 　 ▒█▄▄█ ▒█▒█▒█ ▒█░▒█ 　 ▒█▄▄█ ▒█▄▄▀ ▒█░░▒█ ▒█▄▄█ ░▀▀▀▄▄
    //▒█░░░ ▄█▄ ▒█▄▄▄ ▒█▄▄█ ▒█▄▄▀ ▒█▄▄▄█ 　 ▒█░▒█ ▒█░░▀█ ▒█▄▄▀ 　 ▒█░░░ ▒█░▒█ ▒█▄▄▄█ ▒█░░░ ▒█▄▄▄█


    private string _greetText = "";

    /// <summary>
    /// Set when sign in button clicked,
    /// reset to false on page reload
    /// used to check if page needs refresh
    /// </summary>
    private bool _signInClicked = false;

    private ElementReference _googleSignInButton;

    private ElementReference _googleSignOutButton;





    //▒█▀▄▀█ ▒█▀▀▀ ▀▀█▀▀ ▒█░▒█ ▒█▀▀▀█ ▒█▀▀▄ ▒█▀▀▀█
    //▒█▒█▒█ ▒█▀▀▀ ░▒█░░ ▒█▀▀█ ▒█░░▒█ ▒█░▒█ ░▀▀▀▄▄
    //▒█░░▒█ ▒█▄▄▄ ░▒█░░ ▒█░▒█ ▒█▄▄▄█ ▒█▄▄▀ ▒█▄▄▄█

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //google sign in code must be only loaded after
        //special sign in google button has been rendered
        if (firstRender) { await _jsRuntime.InvokeVoidAsync("loadJs", ServerManager.GoogleSignInJs); }
    }


    protected override void OnInitialized()
    {
        //attach handlers
        WebsiteTools.OnUserSignIn += OnUserSignIn;
        WebsiteTools.OnUserSignOut += OnUserSignOut; ;
    }

    /// <summary>
    /// gets called only after logout success, page reload
    /// </summary>
    private async Task OnUserSignOut() => WebsiteTools.ReloadPage(_navigation);

    /// <summary>
    /// gets called by page refresh & button click sign in
    /// </summary>
    private async Task OnUserSignIn()
    {
        //reload page if coming from sign in button
        if (_signInClicked) { WebsiteTools.ReloadPage(_navigation); }

        //hide sign in button
        await _jsRuntime.Hide(_googleSignInButton);

        //show sign out button
        await _jsRuntime.Show(_googleSignOutButton);

        //if signed in set greet text
        var userName = await _jsRuntime.InvokeAsync<string>("getGoogleUserName");
        _greetText = $"Hi, {userName}";

        StateHasChanged();

    }


    /// <summary>
    /// Called when button clicked, then mark as sign in clicked
    /// used later to know if page needs refresh
    /// </summary>
    private void OnClickSignInButton(MouseEventArgs obj) => _signInClicked = true;

}
