<!--Mona Lisa by Leonardo da Vinci

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!>''''''<!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!'''''`             ``'!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!''`          .....         `'!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!'`      .      :::::'            `'!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!'     .   '     .::::'                `!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!'      :          `````                   `!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!        .,cchcccccc,,.                       `!!!!!!!!!!!!
!!!!!!!!!!!!!!!     .-"?$$$$$$$$$$$$$$c,                      `!!!!!!!!!!!
!!!!!!!!!!!!!!    ,ccc$$$$$$$$$$$$$$$$$$$,                     `!!!!!!!!!!
!!!!!!!!!!!!!    z$$$$$$$$$$$$$$$$$$$$$$$$;.                    `!!!!!!!!!
!!!!!!!!!!!!    <$$$$$$$$$$$$$$$$$$$$$$$$$$:.                    `!!!!!!!!
!!!!!!!!!!!     $$$$$$$$$$$$$$$$$$$$$$$$$$$h;:.                   !!!!!!!!
!!!!!!!!!!'     $$$$$$$$$$$$$$$$$$$$$$$$$$$$$h;.                   !!!!!!!
!!!!!!!!!'     <$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$                   !!!!!!!
!!!!!!!!'      `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$F                   `!!!!!!
!!!!!!!!        c$$$$???$$$$$$$P""  """??????"                      !!!!!!
!!!!!!!         `"" .,.. "$$$$F    .,zcr                            !!!!!!
!!!!!!!         .  dL    .?$$$   .,cc,      .,z$h.                  !!!!!!
!!!!!!!!        <. $$c= <$d$$$   <$$$$=-=+"$$$$$$$                  !!!!!!
!!!!!!!         d$$$hcccd$$$$$   d$$$hcccd$$$$$$$F                  `!!!!!
!!!!!!         ,$$$$$$$$$$$$$$h d$$$$$$$$$$$$$$$$                   `!!!!!
!!!!!          `$$$$$$$$$$$$$$$<$$$$$$$$$$$$$$$$'                    !!!!!
!!!!!          `$$$$$$$$$$$$$$$$"$$$$$$$$$$$$$P>                     !!!!!
!!!!!           ?$$$$$$$$$$$$??$c`$$$$$$$$$$$?>'                     `!!!!
!!!!!           `?$$$$$$I7?""    ,$$$$$$$$$?>>'                       !!!!
!!!!!.           <<?$$$$$$c.    ,d$$?$$$$$F>>''                       `!!!
!!!!!!            <i?$P"??$$r--"?""  ,$$$$h;>''                       `!!!
!!!!!!             $$$hccccccccc= cc$$$$$$$>>'                         !!!
!!!!!              `?$$$$$$F""""  `"$$$$$>>>''                         `!!
!!!!!                "?$$$$$cccccc$$$$??>>>>'                           !!
!!!!>                  "$$$$$$$$$$$$$F>>>>''                            `!
!!!!!                    "$$$$$$$$???>'''                                !
!!!!!>                     `"""""                                        `
!!!!!!;                       .                                          `
!!!!!!!                       ?h.
!!!!!!!!                       $$c,
!!!!!!!!>                      ?$$$h.              .,c
!!!!!!!!!                       $$$$$$$$$hc,.,,cc$$$$$
!!!!!!!!!                  .,zcc$$$$$$$$$$$$$$$$$$$$$$
!!!!!!!!!               .z$$$$$$$$$$$$$$$$$$$$$$$$$$$$
!!!!!!!!!             ,d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$          .
!!!!!!!!!           ,d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$         !!
!!!!!!!!!         ,d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$        ,!'
!!!!!!!!>        c$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$.       !'
!!!!!!''       ,d$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$>       '
!!!''         z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$>
!'           ,$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$>             ..
            z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$'           ;!!!!''`
            $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$F       ,;;!'`'  .''
           <$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$>    ,;'`'  ,;
           `$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$F   -'   ,;!!'
            "?$$$$$$$$$$?$$$$$$$$$$$$$$$$$$$$$$$$$$F     .<!!!'''       <!
         !>    ""??$$$?C3$$$$$$$$$$$$$$$$$$$$$$$$""     ;!'''          !!!
       ;!!!!;,      `"''""????$$$$$$$$$$$$$$$$""   ,;-''               ',!
      ;!!!!<!!!; .                `"""""""""""    `'                  ' '
      !!!! ;!!! ;!!!!>;,;, ..                  ' .                   '  '
     !!' ,;!!! ;'`!!!!!!!!;!!!!!;  .        >' .''                 ;
    !!' ;!!'!';! !! !!!!!!!!!!!!!  '         -'
   <!!  !! `!;! `!' !!!!!!!!!!<!       .
   `!  ;!  ;!!! <' <!!!! `!!! <       /
  `;   !>  <!! ;'  !!!!'  !!';!     ;'
   !   !   !!! !   `!!!  ;!! !      '  '
  ;   `!  `!! ,'    !'   ;!'
      '   /`! !    <     !! <      '
           / ;!        >;! ;>
             !'       ; !! '
          ' ;!        > ! '
            '
Allen Mullen-->
@*SIMPLE BOX TO RENDER SMART PREDICTIONS*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

@*default loading icon*@
@if (readyToRender)
{
    @*    <IconText FontColor="@AppData.Grey" ExtraClass="ms-2" ShowLine="true" IconName="eos-icons:ai-operator">
        Help train Machine Learning (ML) model. <a href="@PageRoute.TrainAIAstrologer">Read more</a>
    </IconText>
*@
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Prediction</th>
                <th scope="col"><Icon IconName="eos-icons:ai" Size="25" /> Feedback</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prediction in predictionList)
            {
                <tr>
                    <td scope="row">@prediction</td>
                    <td>
                        <div class="hstack gap-2">
                            <IconButton SmallSize="true" IconName="carbon:thumbs-up-filled" OnClickCallback="OnClickVoteUp" TooltipText="Prediction is right" />
                            <IconButton SmallSize="true" IconName="carbon:thumbs-down-filled" OnClickCallback="OnClickVoteUp" TooltipText="Prediction is wrong" />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@*default loading icon*@
else
{
    @AppData.LoadingImage
}



@code {

    private bool readyToRender = false;

    List<string> predictionList = new List<string>();


    /// <summary>
    /// Starts the render process to show AI predictions
    /// </summary>
    public async Task ShowPrediction(Person person)
    {
        //hide previous results
        readyToRender = false;

        Time _birthTime = person.BirthTime;
        //clear previous predictions
        predictionList.Clear();


        //--------------------------------
        //1 strongest planet in sign
        var strongestPlanet = Calculate.AllPlanetOrderedByStrength(_birthTime)[0];
        var strongestPlanetSign = Calculate.PlanetZodiacSign(strongestPlanet, _birthTime).GetSignName();
        var allPredictions = Tools.GetHoroscopePrediction(person.BirthTime);

        //pick out planet predictions based on related body of planet and sign
        var strPlanetPredicts1 = allPredictions.FindAll(x =>
        {
            //prediction contains both sign and planet
            var planetStrg = x.RelatedBody.Contains(strongestPlanet);
            var planetSign = x.RelatedBody.Contains(strongestPlanetSign);
            return planetSign && planetStrg;
        }).FirstOrDefault();

        //only add to prediction if found
        if (!string.IsNullOrEmpty(strPlanetPredicts1?.Description)) { predictionList.Add($"{strPlanetPredicts1?.Description}"); }

        //--------------------------------
        //2 2nd strongest planet in sign
        var strongestPlanet2 = Calculate.AllPlanetOrderedByStrength(_birthTime)[1];
        var strongestPlanetSign2 = Calculate.PlanetZodiacSign(strongestPlanet2, _birthTime).GetSignName();

        //pick out planet predictions based on related body of planet and sign
        var strPlanetPredicts2 = allPredictions.FindAll(x =>
        {
            //prediction contains both sign and planet
            var planetStrg = x.RelatedBody.Contains(strongestPlanetSign2);
            var planetSign = x.RelatedBody.Contains(strongestPlanet2);
            return planetSign && planetStrg;
        }).FirstOrDefault();

        //only add to prediction if found
        if (!string.IsNullOrEmpty(strPlanetPredicts2?.Description)) { predictionList.Add($"{strPlanetPredicts2.Description}"); }


        //--------------------------------
        //2 2nd strongest House
        var strongestHouse = Calculate.AllHousesOrderedByStrength(_birthTime)[0];
        //var strongestHouseSign = AstronomicalCalculator.GetHouseSignName((int)strongestHouse, _birthTime);

        //pick out planet predictions based on related body of planet and sign
        var predictionStrongestHouse = allPredictions.FindAll(x => x.RelatedBody.Contains(strongestHouse))[0];

        //only add to prediction if found
        if (!string.IsNullOrEmpty(predictionStrongestHouse?.Description)) { predictionList.Add($"{predictionStrongestHouse.Description}"); }

        //--------------------------------
        //2 rising sign prediction
        //var predictionRisingSign = allPredictions.FindAll(x => x.FormattedName.ToLower().Contains("rising")).FirstOrDefault(); //exp: Moon in Pisces
        //predictionList.Add($"{predictionRisingSign}");


        //---------------------------------
        //3 strongest house
        //source of happiness and source of sadness
        var weakestHouse = Calculate.AllHousesOrderedByStrength(_birthTime)[11];
        var getHouseTagsGood = Calculate.GetHouseTags(strongestHouse);
        var getHouseTagsBad = Calculate.GetHouseTags(weakestHouse);

        //add prediction to list
        predictionList.Add($"Source of Good :- {getHouseTagsGood}");
        predictionList.Add($"Source of Bad :- {getHouseTagsBad}");


        //---------------------------------
        //ASTRAL BODY NATURE (based on yoni animal)
        var x = Calculate.YoniKutaAnimalFromPerson(person);
        predictionList.Add(x);


        //hide loading
        readyToRender = true;

        //render update
        this.StateHasChanged();


        //-----------------LOCAL FUNCTIONS ----------------------
        //find planet in sign prediction
        bool Match(HoroscopePrediction x)
        {
            var planetInSignEvent = $"{strongestPlanet.ToString().ToLower()} in"; // turns to -> venus in ...
            var nameMatch = x.FormattedName.ToLower().Contains(planetInSignEvent);
            return nameMatch; //important to lower before check
        }
    }

    private async Task OnClickVoteUp()
    {
        //let user know person has been updated
        await _jsRuntime.ShowAlert("success", "Thank you for input", false, timer: 1500);
    }

}
