@namespace Website.Pages
@using VedAstro.Library;
@using System.Timers


@* BALANCE *@
<div class="my-3 input-group d-flex justify-content-center">
    <label class="input-group-text gap-2" for="genderSelectInput" style="width: 165px;"><Icon IconName="noto-v1:bank" Size="80" />Balance</label>
    <span class="input-group-text" style="width: 300px;font-size: 23px;font-weight: 800;">USD $@(Math.Round(BankBalanceUSD, 7))</span>
@*     <button class="btn btn-warning " style="width: fit-content; font-family: 'Lexend Deca', serif !important;" type="button" id="button-addon2">Donate</button>
 *@</div>

@code {

    private double BankBalanceUSD { get; set; } = GetTodayBankBalance();

    private static readonly Random random = new Random();

    private static double GetTodayBankBalance()
    {
        //average bank balance MYR40 ~ USD10
        return random.Next(1, 15);
    }

    private Timer timer;

    protected override void OnInitialized()
    {
        timer = new Timer();
        timer.Interval = 500; //
        timer.Elapsed += OnElapsed;
        timer.Start();
    }

    /// <summary>
    /// slowly decrement USD based on server use rate
    /// </summary>
    private void OnElapsed(object sender, ElapsedEventArgs e)
    {
        // So, the total number of seconds in a month is approximately:
        // 30 days/month  24 hours/day  60 minutes/hour  60 seconds/minute = 2,592,000 seconds/month
        // Therefore, the cost per second is:
        //     $40/month / 2,592,000 seconds/month = $0.0000154/second
        // And the cost per 500 milliseconds (which is 0.5 seconds) is:
        //     $0.0000154/second  0.5 seconds = $0.0000077
        // So, the website costs approximately $0.0000077 every 500 milliseconds.

        BankBalanceUSD = BankBalanceUSD - 0.0000077;
        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        timer?.Dispose();
    }
}
