@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div id="@Id" class="@ExtraClass">
    <IconTitle Title="Chart" IconName="twemoji:dotted-six-pointed-star" TitleHolder="h4" />
    <div class="vstack">
        <img id="ChartImageElementKundali" style="width: 352px;" src="@IndianChartUrl">
    </div>
</div>


@code {

    private ElementReference imageHolder;

    private string IndianChartUrl { get; set; } = "#";

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string ExtraClass { get; set; }


    //chart style can be "South" or "North"
    public async Task Update(Time finalTime, string chartStyle)
    {
        //compile URL for generating chart
        var url = $"{AppData.URL.ApiUrlDirect}/Calculate/{chartStyle}IndianChart{finalTime.ToUrl()}";

        //add the url to image tag
        IndianChartUrl = url;

        //needed to make appear else no change will appear
        StateHasChanged();
    }


}
