@namespace Website.Pages
@using VedAstro.Library
@using System.Xml.Linq


<div style="cursor: pointer; margin-top:@GR.W60px;" @onclick="() => _jsRuntime.OpenNewTab(URL)">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p style="font-family: '@AppData.CursiveFont', serif;">
                @ChildContent
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            @Author
        </figcaption>
    </figure>
</div>



@code {

    [Parameter]
    public string? Author { get; set; }

    [Parameter]
    public string? URL { get; set; } = "#"; //if no URL then just hash tag it to stop errors

    [Parameter]
    public RenderFragment? ChildContent { get; set; }


}

@* <div style="cursor: pointer;" @onclick="() => _jsRuntime.OpenNewTab(URL.YukteswarWiki)">
            <figure class="text-center mt-4">
            <blockquote class="blockquote">
            <p>
            birth is not meant
            to emphasize fate, but to arouse man's will to escape
            from his universal thralldom
            </p>
            </blockquote>
            <figcaption class="blockquote-footer">
            Yukteswar <cite title="Source Title">Sage</cite>
            </figcaption>
            </figure>
            </div>*@
@*            <div style="cursor: pointer;" @onclick="() => _jsRuntime.OpenNewTab(URL.YukteswarWiki)">
            <figure class="text-center mt-4">
            <blockquote class="blockquote">
            <p>he has spiritual resources which are not subject to planetary pressure</p>
            </blockquote>
            <figcaption class="blockquote-footer">
            Yukteswar <cite title="Source Title">Sage</cite>
            </figcaption>
            </figure>
            </div>
            *@


@*    <h4 class="fw-bold">Project Future</h4>
    <p class="text-justify" style="max-width:@AppData.ComponentWidth;">
    Assume the virtue if you have it not! - William Shakespeare

    We have a clear goal on where this project is headed,
    though it be little lofty. It has been done before, we hear.
    So we dare to do it again!

   </p>
*@