@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq



<div id="@Id" class="@ExtraClass">
    @if (isReady)
    {
        <IconTitle Title="Sky Chart" IconName="emojione:night-with-stars" TitleHolder="h4" />
    }
    <div class="vstack">
        <img id="" style="" src="https://vedastroapi.azurewebsites.net/api/Calculate/SkyChart/Location/Singapore/Time/00:00/17/12/2023/+08:00">
    </div>

</div>



@code {

    private ElementReference imageHolder;
    private bool isReady { get; set; } = false;//start as not ready

    private Time? time { get; set; }
    private string SkyChartUrl { get; set; } = "#";
    private string SkyChartUrlGif { get; set; } = "#";

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string ExtraClass { get; set; }

    private string GetUrl(string ending)
    {
        

        //if null end here
        //if (string.IsNullOrEmpty(stringWithSpace)) { return ""; }

        var url = $"{AppData.URL.ApiUrl}{time?.ToUrl()}/{ending}";
        return url;

    }

    public async Task Update(Time finalTime)
    {
        isReady = false;

        time = finalTime; //save value to be access later
        SkyChartUrl = GetUrl("SkyChart");
        SkyChartUrlGif = GetUrl("SkyChartGIF");

        await _jsRuntime.InvokeVoidAsync(JS.SkyChartInit, imageHolder, SkyChartUrl);

        isReady = true;

        //needed to make appear else no change will appear
        StateHasChanged();
    }


}
