@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

@* TODO MOVE TO .JS
 *@
<div id="@Id" class="@ExtraClass">
    @if (isReady)
    {
        <IconTitle Title="Sky Chart" IconName="emojione:night-with-stars" TitleHolder="h4" />
    }
    <div class="vstack">
        <img id="" style="" src="@SkyChartUrl">
    </div>

</div>



@code {

    private ElementReference imageHolder;
    private bool isReady { get; set; } = false;//start as not ready

    private Time? time { get; set; }
    private string SkyChartUrl { get; set; } = "#";

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string ExtraClass { get; set; }


    public async Task Update(Time finalTime)
    {

        //compile URL for generating chart
        //https://vedastroapi.azurewebsites.net/api/Calculate/SkyChart/Location/Singapore/Time/00:00/17/12/2023/+08:00
        var url = $"{AppData.URL.ApiUrlDirect}/Calculate/SkyChart{finalTime.ToUrl()}";

        //add the url to image tag
        SkyChartUrl = url;

        //needed to make appear else no change will appear
        StateHasChanged();

    }


}
