@namespace Website.Pages
@using VedAstro.Library


<div class="g-4 row row-cols-1 row-cols-md-2">
    <div>
        <HelpIconTooltip Label="Planet Strength" SmallIcon="true" HelpText="@HelpText.PlanetStrength"/>
        <canvas class="rounded border" id="PlanetChart" style="max-width: 400px; max-height: 247px; background: #f5f5f9;"></canvas>
    </div>
    <div>
        <HelpIconTooltip Label="House Strength" SmallIcon="true" HelpText="@HelpText.HouseStrength"/>
        <canvas class="rounded border" id="HouseChart" style="max-width: 400px; max-height: 247px; background: #f5f5f9;"></canvas>
    </div>
</div>

@code {

    private Time _time { get; set; }

    private double _shadbalaPindaSun;
    private double _shadbalaPindaMoon;
    private double _shadbalaPindaMercury;
    private double _shadbalaPindaMars;
    private double _shadbalaPindaJupiter;
    private double _shadbalaPindaSaturn;
    private double _shadbalaPindaVenus;
    private double _shadbalaPindaRahu;
    private double _shadbalaPindaKetu;

    private double _house1, _house2, _house3, _house4, _house5, _house6, _house7, _house8, _house9, _house10, _house11, _house12;


    public async Task Show(Person person)
    {

        _time = person.BirthTime;

        //PLANET
        //get planet details and save it for view
        _shadbalaPindaSun = Calculate.PlanetShadbalaPinda(PlanetName.Sun, _time).ToDouble();
        _shadbalaPindaMoon = Calculate.PlanetShadbalaPinda(PlanetName.Moon, _time).ToDouble();
        _shadbalaPindaMercury = Calculate.PlanetShadbalaPinda(PlanetName.Mercury, _time).ToDouble();
        _shadbalaPindaMars = Calculate.PlanetShadbalaPinda(PlanetName.Mars, _time).ToDouble();
        _shadbalaPindaJupiter = Calculate.PlanetShadbalaPinda(PlanetName.Jupiter, _time).ToDouble();
        _shadbalaPindaSaturn = Calculate.PlanetShadbalaPinda(PlanetName.Saturn, _time).ToDouble();
        _shadbalaPindaVenus = Calculate.PlanetShadbalaPinda(PlanetName.Venus, _time).ToDouble();
        _shadbalaPindaRahu = Calculate.PlanetShadbalaPinda(PlanetName.Rahu, _time).ToDouble();
        _shadbalaPindaKetu = Calculate.PlanetShadbalaPinda(PlanetName.Ketu, _time).ToDouble();

        //generate JS bar chart with calculated values
        //note : done here so needed element is available
        //sun, moon, mercury, mars, jupiter, saturn, venus
        await _jsRuntime.InvokeVoidAsync(JS.DrawPlanetStrengthChart,
            _shadbalaPindaSun,
            _shadbalaPindaMoon,
            _shadbalaPindaMercury,
            _shadbalaPindaMars,
            _shadbalaPindaJupiter,
            _shadbalaPindaSaturn,
            _shadbalaPindaVenus,
            _shadbalaPindaRahu,
            _shadbalaPindaKetu
            );


        //HOUSE
        _house1 = Calculate.HouseStrength((HouseName)1, _time).ToDouble();
        _house2 = Calculate.HouseStrength((HouseName)2, _time).ToDouble();
        _house3 = Calculate.HouseStrength((HouseName)3, _time).ToDouble();
        _house4 = Calculate.HouseStrength((HouseName)4, _time).ToDouble();
        _house5 = Calculate.HouseStrength((HouseName)5, _time).ToDouble();
        _house6 = Calculate.HouseStrength((HouseName)6, _time).ToDouble();
        _house7 = Calculate.HouseStrength((HouseName)7, _time).ToDouble();
        _house8 = Calculate.HouseStrength((HouseName)8, _time).ToDouble();
        _house9 = Calculate.HouseStrength((HouseName)9, _time).ToDouble();
        _house10 = Calculate.HouseStrength((HouseName)10, _time).ToDouble();
        _house11 = Calculate.HouseStrength((HouseName)11, _time).ToDouble();
        _house12 = Calculate.HouseStrength((HouseName)12, _time).ToDouble();

        //generate JS bar chart with calculated values
        //note : done here so needed element is available
        //sun, moon, mercury, mars, jupiter, saturn, venus
        await _jsRuntime.InvokeVoidAsync(JS.DrawHouseStrengthChart,
            _house1,
            _house2,
            _house3,
            _house4,
            _house5,
            _house6,
            _house7,
            _house8,
            _house9,
            _house10,
            _house11,
            _house12
            );

        //if harmful remove
        this.StateHasChanged();
    }

}
