@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

<style>
    #CalendarPickerHolder input{
        border: 0;
    }
</style>

<div class="hstack gap-2">
    <div style="width: fit-content;">
        <label class="form-label">Time</label>
        <input id="TimeInput" style="max-width: 65px;" class="form-control" @bind="HourMin" type="text" placeholder="16:20">
    </div>
    <div style="width: fit-content;">
        <label class="form-label">
            Date
        </label>
        <input id="DateInput" style="max-width: 125px;margin-left: -5px;" class="form-control" @bind="DateMonthYear" type="text" placeholder="16/04/2021">
    </div>
    <div style="width: fit-content;">
        <label class="form-label">
            Timezone
            <HelpIconTooltip SmallIcon="true" HelpText="@HelpText.TimezoneInput"/>
        </label>
        <input style="max-width: 86px;" class="form-control" @bind="TimeZone" type="text">
    </div>
</div>


@code {

    /// <summary>
    /// HH:mm
    /// </summary>
    public string? HourMin
    {
        get => _hourMin;
        set
        {
            _hourMin = value;
            StateHasChanged();
        }
    }

    /// <summary>
    /// dd/MM/yyyy
    /// </summary>
    public string? DateMonthYear
    {
        get => _date;
        set
        {
            _date = value;
            StateHasChanged();
        }
    }

    /// <summary>
    /// +08:00
    /// </summary>
    public string? TimeZone
    {
        get => _timeZone;
        set
        {
            _timeZone = value;
            StateHasChanged();
            //mark timezone input as modified
            IsAutoTimezone = false;
        }
    }

    /// <summary>
    /// Gets parseable time string
    /// </summary>
    public string? FullTimeString => $"{HourMin} {DateMonthYear} {TimeZone}";


    private string? _hourMin = DateTime.Today.ToString("HH:mm");
    private string? _date = DateTime.Today.ToString("dd/MM/yyyy");
    private string? _timeZone = DateTimeOffset.Now.ToString("zzz");


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            //auto set time zone to current user's location
            //set underlying value as not to fire update event
            _timeZone = DateTimeOffset.Now.ToString("zzz");

            //mark time zone has auto set
            IsAutoTimezone = true;
        }
    }

    /// <summary>
    /// Creates a new time instance with inputed time data
    /// </summary>
    public Time GetTime(GeoLocation geoLocation) => new(this.FullTimeString, geoLocation);

    /// <summary>
    /// Returns true if time zone field was set by auto and not changed by user
    /// if user modified it, will return false
    /// </summary>
    public bool IsAutoTimezone { get; private set; }

}
