<h3>ModernTools</h3>


We as the human race today have access to knowledge and tools that was once impossible to imagine.
If you told someone 100 years ago, which is but a small part in human history,
that a tiny box in your hand can access almost all of recorded knowledge

We have today at our fingertips.
And it is high time we use this tools to its highest potential for the benefit of all men.
@code {

}
