@attribute [Route(PageRoute.BlogWhyVedic)]


<h1 class="fw-bold">Why not Mayan Astrology?</h1>
<p></p>
<hr />
<p class="text-justify" >
    Wise man of all ages across the world have spoken of astrology in one form or the other.
    As such Astrology does not belong to one man, creed or country. It is the knowledge of the ages.
</p>
<p class="text-justify" >

    So this begs the question, "Why 'Vedic' Astrology? Why not Mayan Astrology? Or Egyptian or Greek?".
    The simple answer is, for some reason Vedic records survived the slaughter of time.
    Many do not realize how much of ancient knowledge have been destroyed and lost.
    The burning of the Library of Alexandria and destruction of Mayan codices by Conquistadors is but
    a few examples. So we work with what we have left and continue from there.
</p>
<img src="images/why-vedic.webp" style="width: 250px;" class="img-thumbnail float-start m-2" alt="...">

<p class="text-justify" >
    If you could compare side by side all the ancient texts from around the world that we have available today.
    You'll find that texts from what we call the "Vedic Age" will surpass any other.
</p>
<p class="text-justify" >

   @* When and what is it?*@
    This period refers to text written in Sanskrit at a time between 1500 BC and 600 BC in Southern Asia.
    I say "Southern Asia" and not "India", because evidence of Vedic culture have been found not only in India,
    but also in Cambodia, Vietnam, Thailand, Malaysia, Indonesia, Sri Lanka, Tibet and Nepal.
</p>
<p class="text-justify">

    Our current knowledge of Vedic Astrology is by no means perfect. There are holes in the ancient pages.
    And it might be a surprise for some to know that there are ancient texts in South India that predict a person's
    life down to their name. And they find your astrological chart not based on birth date, but by thumbprint!
    These texts are called "Naadi Palm Leaves" and unfortunately many of these texts are not available to the public.
    And then there are texts that have been loosely translated and wrongly interpreted.
    For these reasons, even Vedic Astrology has not been immune to the ravages of time.
    Today we can predict accurately when a person will have a bad day but cannot tell how we know.
    We are only counting and calculating what we read. We are not yet writing new Astrological facts.
</p>
<p class="text-justify mb-5" >

    Astrology is as real and as useful as a car. We as humanity have lost the key,
    that doesn't mean the car doesn't work. Slowly through experimentation and global
    exchange of astrological data we can as a human race not only bring back Astrology to
    it's former glory but also to advance it further.
</p>

@code {

}
