@attribute [Route(PageRoute.UserAccount)]

<PageTitle>User Account | VedAstro</PageTitle>

<PageTop Title="User Account" IconName="carbon:gateway-api">
    <Description>Data related to your user account in VedAstro</Description>
</PageTop>


<h3>API Key / User ID</h3>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
</div>

@code {

}
