@attribute [Route(PageRoute.UserAccount)]

<PageTitle>User Account | VedAstro</PageTitle>

<PageTop Title="User Account" IconName="carbon:gateway-api">
    <Description>Data related to your account in VedAstro</Description>
</PageTop>


<table class="table">
    <tbody>
        <tr>
            <td><Icon IconName="flat-color-icons:butting-in" /> Name</td>
            <td>@AppData.CurrentUser.Name</td>
            @*TODO ADD buttons to edit*@
        </tr>
        <tr>
            <td><Icon IconName="flat-color-icons:address-book" /> Email</td>
            <td>@AppData.CurrentUser.Email</td>
            @*TODO ADD buttons to edit*@
        </tr>
        <tr>
            <td><Icon IconName="flat-color-icons:key" /> API Key / User ID</td>
            <td>@AppData.CurrentUser.Id</td>
            @*TODO ADD buttons to copy*@
        </tr>
        <tr>
            <td><Icon IconName="mdi:form-textbox-password" /> Password</td>
            <td>Managed by Google/Facebook. Go there to change it.</td>
        </tr>
    </tbody>
</table>

@code {

}
