                                                                                                                                                        @attribute [Route(PageRoute.Login)]


<div class="d-flex flex-wrap">
    <div class="vstack gap-3 me-5 mb-4" style="max-width:286px">
        <SignInButton />
    </div>
    @*STACK BOXES ON RIGHT*@
    <div class="w-50">
        <InfoBox MaxWidth="365" FullWidth="@true" Title="Secure" Description="Login safe & fast with Google or Facebook authentication." IconName="flat-color-icons:approval" />
        <InfoBox MaxWidth="365" Color="success" FullWidth="@true" Title="Save" Description="Person horoscope data is saved for easy access on your next visit" IconName="emojione:floppy-disk" />
        <InfoBox MaxWidth="365" FullWidth="@true" Title="Privacy" Description="We don't collect or connect to any data from your Google or Facebook account." IconName="flat-color-icons:customer-support" />
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        //after login this page is loaded again,
        //if login success, redirect user to previous page
        if (AppData.IsLoginSuccess)
        {
            //get the previously saved page before login, if any else deafult to home
            var previousPage = await _jsRuntime.GetProperty("PreviousPage");
            previousPage = string.IsNullOrEmpty(previousPage) ? PageRoute.Home : previousPage;
            _navigation.NavigateTo(previousPage);

        }
    }

}
