@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


@*show loading first*@
@if (NothingToShow)
{
    @AppData.LoadingImage
}
else
{

    <table class="table mb-5">
        <thead>
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Prediction</th>
                <th scope="col">Report</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in MatchReportList)
            {
                <tr>
                    <td>@report.PersonName</td>
                    <td>@report.KutaScore</td>
                    <td><IconButton OnClickCallback="@(()=>OnClickViewPerson(report.PersonId))" ButtonText="View" OpenNewTab="true" /></td>
                </tr>
            }
        </tbody>
    </table>
}




@code {

    private bool NothingToShow { get; set; } = true;

    public List<PersonKutaScore> MatchReportList { get; set; } = new List<PersonKutaScore>();


    private Person selectedPerson { get; set; }



    public void Update(List<PersonKutaScore> personKutaScoreList)
    {
        NothingToShow = true;

        MatchReportList = personKutaScoreList;

        NothingToShow = false;

        StateHasChanged();


    }

    private void OnClickViewPerson(string personId)
    {

        throw new NotImplementedException();
    }

}
