@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


@*render, but visibily hide untill ready to show data*@
<div style="@(_isReadyToShow ? "" : "display: none;")">


    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active" role="presentation">
            <button class="nav-link" id="ai-prediction-tab" data-bs-toggle="tab" data-bs-target="#ai-prediction" type="button" role="tab" aria-controls="ai-prediction" aria-selected="false">
                <Icon IconName="flat-color-icons:electronics" />
                AI Prediction
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                <Icon IconName="flat-color-icons:filing-cabinet" /><span class="mt-1">References</span>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                <Icon IconName="flat-color-icons:negative-dynamic" />
                Data
            </button>
        </li>
    </ul>
    <div class="tab-content border" id="myTabContent">

        @*AI PREDICTIONS CHART*@
        <div class="tab-pane fade show active" id="ai-prediction" role="tabpanel" aria-labelledby="ai-prediction-tab">
            <div class="vstack gap-3 p-4">
                <AIPrediction @ref="_aiPrediction" />
            </div>
        </div>

        @*MATCHED REFERENCE*@
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="vstack gap-2 p-2">

                @*LIST OF PREDICTIONS*@
                <HoroscopeReferenceList @ref="_horoscopeReferenceList" />

            </div>
        </div>

        @*ASTRO DATA CHART*@
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="vstack gap-3">
                @*only show when all is loaded*@
                <StrengthChart @ref="_strengthChart" />
                <hr>
                <PlanetHouseInfoViewer @ref="_planetHouseInfoViewer" />
            </div>
        </div>
    </div>


</div>


@code {
    private Person _selectedPerson = Person.Empty;
    private bool _isReadyToShow = false;

    private HoroscopeReferenceList _horoscopeReferenceList = null;
    private AIPrediction _aiPrediction = null;
    private PlanetHouseInfoViewer _planetHouseInfoViewer = null;
    private StrengthChart _strengthChart = null;



    /// <summary>
    /// Takes the inputed person and makes the visible chart
    /// starts the process
    /// </summary>
    public async Task SetPerson(Person selectedPerson)
    {
        //hide previous if any
        _isReadyToShow = false;

        //load planet & house data (from WASM)
        _selectedPerson = selectedPerson;

        //load prediction data (from API)
        await _horoscopeReferenceList.ShowPrediction(_selectedPerson);

        //show ai prediction
        await _aiPrediction?.ShowPrediction(_selectedPerson);

        await _planetHouseInfoViewer.Show(_selectedPerson);

        await _strengthChart.Show(_selectedPerson);

        //make visible
        _isReadyToShow = true;

        //need to make change visible
        StateHasChanged();

        //close loading box
        _jsRuntime.HideAlert();



        //---------------------------

    }




}
