@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div @ref="mainHolderReference" style="display: none;" class="vstack gap-3">
    
    @*House Name*@
    <div class="form-floating">
        <select @bind="SelectedName" class="form-select" id="houseNameSelector" aria-label="House Name Select">
            <option value="" selected>Make a choice</option>
            <option value="All">All</option>
            <option value="House1">House 1</option>
            <option value="House2">House 2</option>
            <option value="House3">House 3</option>
            <option value="House4">House 4</option>
            <option value="House5">House 5</option>
            <option value="House6">House 6</option>
            <option value="House7">House 7</option>
            <option value="House8">House 8</option>
            <option value="House9">House 9</option>
            <option value="House10">House 10</option>
            <option value="House11">House 11</option>
            <option value="House12">House 12</option>
        </select>
        <label style="font-weight: 700; color: black;" for="houseNameSelector">House Name</label>
    </div>

    @*House Property*@
    <div class="form-floating">
        <select @bind="SelectedProperty" class="form-select" id="housePropertySelector" aria-label="Data Property Select">
            <option value="" selected>Make a choice</option>
            <option value="All">All</option>
            @*make a dynamic selection of all available calls*@
            @foreach (var dataProperty in HouseCallList)
            {
                <option value="@dataProperty.Name">@(Format.FormatName(dataProperty.Name))</option>
            }
        </select>
        <label style="font-weight: 700; color: black;" for="housePropertySelector">House Property</label>
    </div>
</div>

@code {

    private ElementReference mainHolderReference;

    public string SelectedName { get; set; }

    public string SelectedProperty { get; set; }

    /// <summary>
    /// Names of methods in API call for house
    /// </summary>
    private static IEnumerable<OpenAPIMetadata> HouseCallList = Tools.GetPlanetApiCallList<HouseName, Time>();


    public void Show()
    {
        _jsRuntime.Show(mainHolderReference);
    }

    public void Hide()
    {
        _jsRuntime.Hide(mainHolderReference);
    }

}
