@*SIMPLE BOX TO RENDER IMAGE TOOLTIP OF PERSON BY NAME*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

<div  @ref="tooltipElement" class="hstack">
    <img style="width:@GR.W97px;" src="images/person/@Person.ImageName" class="img-thumbnail mt-1" alt="..." />
    @*buttons related to account*@
    <IconButton TooltipText="Horoscope" IconName="bi:list-stars" SmallSize="true" ClickUrl="@($"{PageRoute.Horoscope}/{Person.Id}")" />
    <IconButton TooltipText="Add Notes" IconName="system-uicons:clipboard-notes" SmallSize="true" ClickUrl="@($"{PageRoute.PersonEditor}/{Person.Id}")" />
</div>

<div style="cursor: pointer" @ref="nameHolderElement">
   @Person.Name
</div>


@code {


    /// <summary>
    /// image name is expected to exist in images folder with .JPG format
    /// </summary>
    [Parameter]
    public Person Person { get; set; }

    /// <summary>
    /// element that is shown in tool tip is referenced here to be accessed by Tippy.js
    /// </summary>
    private ElementReference tooltipElement { get; set; }

    /// <summary>
    /// reference to element that shows the name, when mouse over is triggers Tippy 
    /// </summary>
    private ElementReference nameHolderElement { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender) => await InvokeAsync(async () => await _OnAfterRender(firstRender)).Try(_jsRuntime);

    private async Task _OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
            //attach tooltip lib element if tooltip provided
            if (!string.IsNullOrEmpty(Person.ImageName))
            {
                //construct html to show image
                var tooltipSettings =
                    new
                    {
                        content = tooltipElement,
                        allowHTML = true,
                        arrow = true,
                        animation = "scale-extreme",
                        interactive = true //so that can click button
                    };

                await _jsRuntime.Tippy(nameHolderElement, tooltipSettings);
            }
        }
    }

}
