@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq

<style>
    /*highlights frozen planet column*/
    .PlanetColumn {
        background-color: #1b6ec2 !important;
        color: white;
    }
</style>

<h4>Planet Info</h4>
<div style="min-height: 150px; width:100%;" class="mb-5" id="@PlanetTableId"></div>
<hr />
<div style="min-height: 150px; width:100%;" class="mb-5" id="@PlanetInfoTableId"></div>

<h4>House Info</h4>
<div style="min-height: 150px; width:100%;" class="mb-5" id="@HouseTableId"></div>
<hr />
<div style="min-height: 150px; width:100%;" class="mb-5" id="@HouseInfoTableId"></div>


@code {

    public Time _time { get; set; }

    const string PlanetTableId = "PlanetDataTable"; //change only needed here
    const string PlanetInfoTableId = "PlanetDataInfoTable"; //change only needed here
    const string HouseTableId = "HouseDataTable"; //change only needed here
    const string HouseInfoTableId = "HouseDataInfoTable"; //change only needed here

    bool _isDirty = false;


    public async Task Show(Person person)
    {
        //set birth time from person
        _time = person.BirthTime;

        //get planet data
        var planetData = GetPlanetData();

        //and calls js code change table directly
        //the data column to show is in js side
        await _jsRuntime.InvokeVoidAsync(JS.generatePlanetDataTable, PlanetTableId, planetData);
        await _jsRuntime.InvokeVoidAsync(JS.generatePlanetDataInfoTable, PlanetInfoTableId, planetData);

        //get house data
        var houseData = GetHouseData();

        //and calls js code change table directly
        await _jsRuntime.InvokeVoidAsync(JS.generateHouseDataTable, HouseTableId, houseData);
        await _jsRuntime.InvokeVoidAsync(JS.generateHouseDataInfoTable, HouseInfoTableId, houseData);

        //if harmful remove
        this.StateHasChanged();
        
    }

    public List<object> GetHouseData()
    {
        var returnList = new List<object>();

        foreach (var house in House.AllHouses)
        {
            returnList.Add(getData((int)house));
        }

        return returnList;


        object getData(int houseNumber)
        {
            var lordOfHouse = AstronomicalCalculator.GetLordOfHouse((HouseName)houseNumber, _time);

            //get house details and save it for view
            var _houseDetails = AstronomicalCalculator.GetHouseTags(houseNumber);
            var _houseLord = lordOfHouse.ToString();
            var _planetsInHouse = Tools.ListToString<PlanetName>(AstronomicalCalculator.GetPlanetsInHouse(houseNumber, _time));
            var _planetsAspectingHouse = Tools.ListToString<PlanetName>(AstronomicalCalculator.GetPlanetsAspectingHouse((HouseName)houseNumber, _time));
            var rawHouseStrength = AstronomicalCalculator.GetBhavaBala((HouseName)houseNumber, _time).ToDouble();
            var _houseStrength = Math.Round(rawHouseStrength, 2).ToString();
            var _houseSign = AstronomicalCalculator.GetHouseSignName(houseNumber, _time).ToString();
            var _houseNavamsaSign = AstronomicalCalculator.GetHouseNavamsaSign((HouseName)houseNumber, _time).ToString();

            var _lordExalted = AstronomicalCalculator.IsPlanetExaltated(lordOfHouse, _time);
            var _lordDebilitated = AstronomicalCalculator.IsPlanetDebilitated(lordOfHouse, _time);

            var _currentSignDescription = AstronomicalCalculator.GetSignTags(AstronomicalCalculator.GetHouseSignName(houseNumber, _time));
            var _lordInfo = AstronomicalCalculator.GetPlanetTags(lordOfHouse);

            return new
            {
                House = "House " + houseNumber,
                HouseLord = _houseLord,
                PlanetsInHouse = _planetsInHouse,
                PlanetsAspectingHouse = _planetsAspectingHouse,
                HouseStrength = _houseStrength,
                HouseSign = _houseSign,
                CurrentSignDescription = _currentSignDescription,
                HouseNavamsaSign = _houseNavamsaSign,
                LordExalted = _lordExalted,
                LordDebilitated = _lordDebilitated,
                HouseDetails = _houseDetails,
                LordInfo = _lordInfo

            };
        }


    }

    public List<object> GetPlanetData()
    {

        var returnList = new List<object>();

        foreach (var planet in PlanetName.All9Planets)
        {
            returnList.Add(getData(planet));
        }

        return returnList;

        object getData(PlanetName planetName)
        {
            //find out if planet is rahu or ketu, because not all calculations supported
            var isRahuKetu = planetName == PlanetName.Rahu || planetName == PlanetName.Ketu;

            //get planet details and save it for view
            var _shadbalaPinda = AstronomicalCalculator.GetPlanetShadbalaPinda(planetName, _time).ToDouble();

            var _positionStrength = isRahuKetu ? 0 : Math.Round(AstronomicalCalculator.GetPlanetSthanaBala(planetName, _time).ToDouble(), 2);

            var _directionalStrength = isRahuKetu ? 0 : Math.Round(AstronomicalCalculator.GetPlanetDigBala(planetName, _time).ToDouble(), 2);

            var _motionalStrength = isRahuKetu ? 0 : Math.Round(AstronomicalCalculator.GetPlanetChestaBala(planetName, _time).ToDouble(), 2);
            var _motionName = AstronomicalCalculator.GetPlanetMotionName(planetName, _time).ToString();

            var _temporalStrength = isRahuKetu ? 0 : Math.Round(AstronomicalCalculator.GetPlanetKalaBala(planetName, _time).ToDouble(), 2);

            var _aspectStrength = isRahuKetu ? 0 : Math.Round(AstronomicalCalculator.GetPlanetDrikBala(planetName, _time).ToDouble(), 2);

            var _permanentStrength = isRahuKetu ? 0 : Math.Round(AstronomicalCalculator.GetPlanetNaisargikaBala(planetName, _time).ToDouble(), 2);

            var _planetCurrentHouse = AstronomicalCalculator.GetHousePlanetIsIn(_time, planetName);

            var _planetRasiSign = AstronomicalCalculator.GetPlanetRasiSign(planetName, _time);

            var _planetCurrentSign = _planetRasiSign.ToString();

            var _nirayanaLongitude = Math.Round(AstronomicalCalculator.GetPlanetNirayanaLongitude(_time, planetName).TotalDegrees, 2);
            var _sayanaLongitude = Math.Round(AstronomicalCalculator.GetPlanetSayanaLongitude(_time, planetName).TotalDegrees, 2);

            var planetNavamsaSign = AstronomicalCalculator.GetPlanetNavamsaSign(planetName, _time);

            var _planetCurrentNavamsaSign = planetNavamsaSign.ToString();

            var _planetCurrentConstellation = AstronomicalCalculator.GetPlanetConstellation(_time, planetName).ToString();

            var _currentHouseRelation = isRahuKetu ? 0 : AstronomicalCalculator.GetPlanetRelationshipWithHouse((HouseName)_planetCurrentHouse, planetName, _time);

            var _navamsaRelation = isRahuKetu ? 0 : AstronomicalCalculator.GetPlanetRelationshipWithSign(planetName, planetNavamsaSign, _time);

            var _isPlanetAspectedByMaleficPlanets = AstronomicalCalculator.IsPlanetAspectedByMaleficPlanets(planetName, _time);

            var _isPlanetConjunctWithMaleficPlanets = AstronomicalCalculator.IsPlanetConjunctWithMaleficPlanets(planetName, _time);

            var _conjunctPlanets = Tools.ListToString<PlanetName>(AstronomicalCalculator.GetPlanetsInConjuction(_time, planetName));

            var _aspectingPlanets = Tools.ListToString<PlanetName>(AstronomicalCalculator.GetPlanetsAspectingPlanet(_time, planetName));

            var _currentSignDescription = AstronomicalCalculator.GetSignTags(_planetRasiSign.GetSignName());

            var _currentHouseDescription = AstronomicalCalculator.GetHouseTags(AstronomicalCalculator.GetHousePlanetIsIn(_time, planetName));

            var _planetCurrentHouseType = AstronomicalCalculator.GetHouseType(AstronomicalCalculator.GetHousePlanetIsIn(_time, planetName));

            var _planetInfo = AstronomicalCalculator.GetPlanetTags(planetName);

            var lagna = AstronomicalCalculator.GetHouseSignName(1, _time);
            var _isPlanetBeneficToLagna = AstronomicalCalculator.IsPlanetBeneficToLagna(planetName, lagna);
            var _isPlanetMaleficToLagna = AstronomicalCalculator.IsPlanetMaleficToLagna(planetName, lagna);
            var _isPlanetYogakarakaToLagna = AstronomicalCalculator.IsPlanetYogakarakaToLagna(planetName, lagna);
            var _isPlanetMarakaToLagna = AstronomicalCalculator.IsPlanetMarakaToLagna(planetName, lagna);

            //todo
            //var _getPlanetStateDescription = AstronomicalCalculator.GetPlanetStateDescription();

            //return as anonymous type, when sent to JS
            //will auto convert to JSON data
            return new
            {
                Planet = planetName.ToString(),
                ShadbalaPinda = _shadbalaPinda,
                PositionStrength = _positionStrength,
                DirectionalStrength = _directionalStrength,
                MotionalStrength = _motionalStrength,
                MotionName = _motionName,
                TemporalStrength = _temporalStrength,
                AspectStrength = _aspectStrength,
                PermanentStrength = _permanentStrength,
                PlanetCurrentHouse = _planetCurrentHouse,
                PlanetCurrentSign = _planetCurrentSign,
                NirayanaLongitude = _nirayanaLongitude,
                SayanaLongitude = _sayanaLongitude,
                CurrentSignDescription = _currentSignDescription,
                PlanetCurrentNavamsaSign = _planetCurrentNavamsaSign,
                PlanetCurrentConstellation = _planetCurrentConstellation,
                HouseRelation = Format.FormatName(_currentHouseRelation.ToString()),
                NavamsaRelation = Format.FormatName(_navamsaRelation.ToString()),
                IsPlanetAspectedByMaleficPlanets = _isPlanetAspectedByMaleficPlanets,
                IsPlanetConjunctWithMaleficPlanets = _isPlanetConjunctWithMaleficPlanets,
                ConjunctPlanets = _conjunctPlanets,
                AspectingPlanets = _aspectingPlanets,
                CurrentHouseDescription = _currentHouseDescription,
                PlanetCurrentHouseType = _planetCurrentHouseType,
                PlanetInfo = _planetInfo,
                IsPlanetBeneficToLagna = _isPlanetBeneficToLagna,
                IsPlanetMaleficToLagna = _isPlanetMaleficToLagna,
                IsPlanetMarakaToLagna = _isPlanetMarakaToLagna,
                IsPlanetYogakarakaToLagna = _isPlanetYogakarakaToLagna,
            };
        }
    }
}
