@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div @ref="mainHolderReference" style="display: none;" class="vstack gap-3">
    @*Planet Name*@
    <div  class="form-floating">
        <select @bind="SelectedName" class="form-select" id="planetNameSelector">
            <option value="" selected>Make a choice</option>
            <option value="All">All</option>
            <option value="Sun">Sun</option>
            <option value="Moon">Moon</option>
            <option value="Mars">Mars</option>
            <option value="Mercury">Mercury</option>
            <option value="Jupiter">Jupiter</option>
            <option value="Venus">Venus</option>
            <option value="Saturn">Saturn</option>
            <option value="Rahu">Rahu</option>
            <option value="Ketu">Ketu</option>
        </select>
        <label style="font-weight: 700; color: black;" for="planetNameSelector">Planet Name</label>
    </div>
    @*Planet Property*@
    <div class="form-floating">
        <select @bind="SelectedProperty" class="form-select" id="planetPropertySelector" aria-label="Data Property Select">
            <option value="" selected>Make a choice</option>
            <option value="All">All</option>
            @*make a dynamic selection of all available calls*@
            @foreach (var dataProperty in PlanetCallList)
            {
                <option value="@dataProperty.Name">@(Format.FormatName(dataProperty.Name))</option>
            }
        </select>
        <label style="font-weight: 700; color: black;" for="planetPropertySelector">Planet Property</label>
    </div>
</div>




@code {
    private ElementReference mainHolderReference;

    public string SelectedName { get; set; }

    public string SelectedProperty { get; set; }

    //done so that it is cached in memory
    private static IEnumerable<OpenAPIMetadata> PlanetCallList = Tools.GetPlanetApiCallList<PlanetName, Time>();


    public void Show()
    {
        _jsRuntime.Show(mainHolderReference);
    }

    public void Hide()
    {
        _jsRuntime.Hide(mainHolderReference);
    }

}
