@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq




@if (isReady)
{
    <div class="vstack mb-3">

        <img src="@SkyChartUrl" class="my-2">

        <hr />
        <img src="@SkyChartUrl" class="my-2">

    </div>
}
else
{
    @AppData.LoadingImage
}




@code {

    private bool isReady { get; set; } = false;//start as not ready

    private Time? time { get; set; }
    private string SkyChartUrl { get; set; }
    private string SkyChartUrlGif { get; set; }

    private string GetUrl(string ending)
    {
        var locationName = Tools.RemoveWhiteSpace(time?.GetGeoLocation().GetName());
        var url = $"{AppData.URL.ApiUrl}/Location/{locationName}/Time/{time?.GetUrlString()}/{ending}";

        return url;
    }

    public void Update(Time finalTime)
    {
        isReady = false;

        SkyChartUrl = GetUrl("SkyChart");
        SkyChartUrlGif = GetUrl("SkyChartGIF");

        isReady = true;

        StateHasChanged();
    }


}
