@*SIMPLE BOX TO RENDER SMART PREDICTIONS*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div>
    <h4 class="fw-bold">@Title</h4>
    <p class="text-justify" style="font-family: 'Gowun Dodum', serif;font-size: 18px;line-break: auto;">
        @ChildContent
    </p>
</div>


@code {

    [Parameter]
    public string? Title { get; set; } = "";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
