@*SIMPLE BOX TO RENDER SMART PREDICTIONS*@

@namespace Website.Pages
@using VedAstro.Library;
@using System.Xml.Linq


<div>
    @if (!string.IsNullOrEmpty(Title))
    {
        <h4 class="fw-bold">@Title</h4>
    }
    <p class="text-justify" style="@AppData.DescriptionFont font-size: 18px; line-break: auto;">
        @ChildContent
    </p>
</div>


@code {

    /// <summary>
    /// Optional, can be left out
    /// </summary>
    [Parameter]
    public string? Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
