@attribute [Route(PageRoute.APIBuilder)]


<PageTitle>API Builder</PageTitle>
    <PageTop Title="API Builder" IconName="mdi:cloud-tags">
    <Description>
        A simple URL builder using dropdown boxes. This should make it easy for any beginner to get started.
        The biggest problem with consuming any API, is the learning curve. Normally the first 3-5 hours will be spent learning the small nuances or semantics used by the API provider.
        We hope to reduce this lag with this simple API URL builder.
    </Description>
</PageTop>


<h4>
    <a href="@PageRoute.Donate" class="link-primary">Fund</a> this calculator for faster development.
</h4>


@code {

}
