@using VedAstro.Library
@attribute [Route(PageRoute.Horoscope)]
@attribute [Route(PageRoute.HoroscopeParam)]


<PageTitle>@_pageTitle</PageTitle>

<PageTop ImageWidth="@(GR.W255+GR.W97)" ImageName="horoscope-banner.png"
         Title="Horoscope"
         DescriptionText="Insight into a peron's character, nature and general future. Over +370 planetary combinations are used.">
</PageTop>



<div class="gap-3" style="max-width: @GR.W824px;">

    @*SELECTOR & BUTTON*@

    <div class="d-flex flex-wrap">
        <div class="vstack gap-3">
            <PersonSelectorBox @ref="_peopleSelectorBox" />
            <IconButton IconName="uim:process" Color="success" ButtonText="Calculate" OnClickCallback="CalculateButtonClicked"/>
        </div>
    </div>

    
    <div class="mt-5 vstack gap-4">
        
        @*divider*@
        <SkyChartViewer @ref="skyChartViewer" />

        @*SHOW RAW HOROSCOPE & PREDICTION DATA VIA TABS*@
        <HoroscopeInfoView @ref="_horoscopeInfoView" />

        @* EXPERIMENTAL *@
        <PlanetChart @ref="planetChart"/>

    </div>
    

    @*HELP SECTION*@
    <PageHelpSection @ref="_helpSection">
        <Content>
            <h4 class="fw-bold">How to use these predictions?</h4>
            <p class="text-justify mb-4">
                For accurate predictions, results must be duly modified
                or qualified according to the affliction or otherwise of the
                planets concerned. For example, predictions involving planets with
                high strength (Bhava Bala), is often accurate.
            </p>

            <h4 class="fw-bold">Where are these predictions from?</h4>
            <p class="text-justify mb-4">
                Prediction data come from books by renowned astrologer B.V. Raman.
                Books such as <span class="fw-bold">How to Judge Horoscope</span> and
                <span class="fw-bold">Hindu Predictive Astrology</span>,
                were used to make this calculator.
            </p>
        </Content>
    </PageHelpSection>

</div>


@code {

    private PlanetChart planetChart;

    private SkyChartViewer skyChartViewer;

    /// <summary>
    /// Param used in URL to set Person ID via URL
    /// also set via URL when page is loaded
    /// </summary>
    [Parameter]
    public string PersonIdUrl { get; set; } = "";

    private string _pageTitle = "Horoscope | VedAstro";

    private PersonSelectorBox? _peopleSelectorBox;

    private Person _selectedPerson;

    private HoroscopeInfoView _horoscopeInfoView;

    private PageHelpSection _helpSection;



    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER

    private async Task CalculateButtonClicked() => await InvokeAsync(async () => await _CalculateAndUpdateEvents()).Try(_jsRuntime);

    protected override async Task OnAfterRenderAsync(bool firstRender) => await InvokeAsync(async () => await _OnAfterRenderAsync(firstRender)).Try(_jsRuntime);



    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    private async Task _OnAfterRenderAsync(bool firstRender)
    {
        //if parameter has been set then auto load person data as
        //though person was selected and calculate was clicked
        if (PersonIdUrl != null && firstRender)
        {
            await _jsRuntime.ShowLoading();

            //programmatically select the person
            await _peopleSelectorBox.SetPerson(PersonIdUrl);

            //start the same process as show button click
            //todo loading box disappears here, needs fix
            await _CalculateAndUpdateEvents();

            //needed to see updates because any changes in OnAfterRender
            //have to be manually set
            StateHasChanged();

            _jsRuntime.HideLoading();
        }
    }

    /// <summary>
    /// Checks if validation of all input fields
    /// </summary>
    private async Task<bool> ValidationPassed()
    {

        //TEST 1
        //if person not selected, invalid
        if (!_peopleSelectorBox.IsPersonSelected)
        {
            //mark invalid & alert user
            await _jsRuntime.ShowAlert("error", AlertText.SelectName, true);
            return false;
        }

        return true;
    }

    private async Task _CalculateAndUpdateEvents()
    {
        await _jsRuntime.ShowLoading();

        //only continue if passed input field validation
        if (!await ValidationPassed()) { return; }

        //get person from person dropdown
        _selectedPerson = await _peopleSelectorBox?.GetSelectedPerson();

        //only set url if not already set
        //note:this improves UX, as links can lead faster to data
        PersonIdUrl = _selectedPerson.Id; //save local copy
       AppData.Go($"{PageRoute.Horoscope}/{PersonIdUrl}"); //change url

        //put person name into tab title for easy multi-tabbing
        _pageTitle = $"Horoscope | {_selectedPerson.Name}";

        //update sky chart
        await skyChartViewer.Update(_selectedPerson.BirthTime);

        //update planet chart
         planetChart.UpdateTime(_selectedPerson.BirthTime);

        //inject selected person into component to show horoscope data
        await _horoscopeInfoView.SetPerson(_selectedPerson);

        //play sound for better ux
        _jsRuntime.PlayDoneSound();

    }



}