@attribute [Route(PageRoute.SunRiseSetTime)]
@using VedAstro.Library


<PageTitle>Sun Rise And Set Time</PageTitle>

<PageTop IconName="meteocons:sunrise-fill" Title="Sunrise Time">
    <Description>Accurate sunrise & sunset time based on your coordinates. Time when sun's disc center meets the horizon.</Description>
</PageTop>

<div class="vstack gap-3">

    <h4>Sunrise:@_sunRiseTime</h4>
    <h4>Sunset:@_sunSetTime</h4>

    <GeoLocationInput @ref="_geoLocationInput" />

    <IconButton ButtonText="Calculate" IconName="uim:process" OnClickCallback="UpdateSunRiseSetTime"></IconButton>

</div>

@code {
    //FIELDS
    private GeoLocationInput _geoLocationInput;
    private string? _sunSetTime = "";
    private string? _sunRiseTime = "";
    public bool PageReady { get; set; }



    //█░░ █ █▀▀ █▀▀ █▀▀ █▄█ █▀▀ █░░ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▄▄ █ █▀░ ██▄ █▄▄ ░█░ █▄▄ █▄▄ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█
    //METHODS THAT CAN IMPLEMENT ASYNC ERROR HANDLER 

    //auto calculate sun rise/set time every time location is changed
    //called every time after the component has finished rendering
    protected override void OnAfterRender(bool firstRender) => UpdateSunRiseSetTime();




    //█▀█ █▀█ █ █░█ ▄▀█ ▀█▀ █▀▀   █▀▄▀█ █▀▀ ▀█▀ █░█ █▀█ █▀▄ █▀
    //█▀▀ █▀▄ █ ▀▄▀ █▀█ ░█░ ██▄   █░▀░█ ██▄ ░█░ █▀█ █▄█ █▄▀ ▄█

    private async Task UpdateSunRiseSetTime()
    {
        //parse location received from user
        GeoLocation geoLocation = _geoLocationInput.GetGeoLocation();

        //TODO timezone needs to be converted to browser location
        // var cc  = await Tools.GetTimezoneOffsetApi(geoLocation, DateTimeOffset.Now());

        // //get time now at location
        // var timeNowLocation = geoLocation.tim

        //get time now
        var timeNow = Time.NowSystem(geoLocation);

        var rise = Calculate.SunriseTime(timeNow);
        var set = Calculate.SunsetTime(timeNow);

        //show std time as string
        _sunRiseTime = rise.GetStdDateTimeOffsetText();
        _sunSetTime = set.GetStdDateTimeOffsetText();

    }

}