@using VedAstro.Library
@using System.Reflection
@using System.Text
@using System;
@using System.Collections.Generic;
@using System.IO;
@using OfficeOpenXml;
@attribute [Route(PageRoute.TableGenerator)]

<PageTitle>Data Generator | VedAstro</PageTitle>

<PageTop ImageName="table-generator-banner.png"
         Title="ML Data Generator"
         DescriptionText="Easily generate large astronomical tables for use in ML/AI Model training and Data Science for free">
</PageTop>

<div class="d-flex flex-wrap gap-5" style="max-width:@GR.W667px;">

    <ArticleBlock Title="How To Use?" IconName="flat-color-icons:close-up-mode">
        <TextHTML>
            <div class="container ">
                <div class="row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0 align-self-start">
                        <kbd>STEP 1</kbd>
                    </div>
                    <div class="col-6">
                        <span>Download &amp; install <strong>VedAstro Desktop</strong></span>
                    </div>
                    <div class="col">
                        <IconButton SmallSize="true" ButtonText="Download" OnClickCallback="OnClickDownload" TooltipText="Download .exe file" TextCenter="true" IconName="line-md:download-loop"/>
                    </div>
                </div>
                <div class="mt-3 row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0 align-self-start">
                        <kbd>STEP 2</kbd>
                    </div>
                    <div class="col-6">
                        <span>Select <strong>Table Generator</strong> from side menu.</span>
                        <img src="images/table-generator-guide-step-2.png" class="mt-2 img-fluid rounded border border-secondary" />
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="mt-3 row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0 align-self-start">
                        <kbd>STEP 3</kbd>
                    </div>
                    <div class="col-6">
                        <span>Upload time list, sample provided.</span>
                        <img src="images/table-generator-guide-step-3.png" class="mt-2 img-fluid rounded border border-secondary" />
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="mt-3 row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0 align-self-start">
                        <kbd>STEP 4</kbd>
                    </div>
                    <div class="col-6">
                        <span>Select <strong>astro data</strong> points as <strong>columns</strong></span>
                        <img src="images/table-generator-guide-step-4.png" class="mt-2 img-fluid rounded border border-secondary" />
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="mt-3 row row-cols-3 align-items-center justify-content-start">
                    <div class="col-auto p-0 align-self-start">
                        <kbd>STEP 5</kbd>
                    </div>
                    <div class="col-6">
                        <span>Click <strong>Generate</strong> &amp; download table.<strong style="color: #007e21;">Easy!</strong></span>
                        <img src="images/table-generator-guide-step-5.png" class="mt-2 img-fluid rounded border border-secondary" />
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Next Step" IconName="mdi:foot-print">
        <TextHTML>
            After download. You can input to a ML model maker, to generate AI data like below.
            <img src="images/ml-modal-graph-sample-2.png" class="mt-2 img-fluid rounded border border-secondary" />
        </TextHTML>
    </ArticleBlock>

    <ArticleBlock Title="Price" IconName="flat-color-icons:money-transfer">
        <ButtonRow>
            <IconButton PlaceBottom="true" SmallSize="true" Color="warning" ButtonText="Donate" IconName="openmoji:love-letter" ClickUrl="@PageRoute.Donate" />
        </ButtonRow>
        <TextHTML>
            This service will run for <kbd>FREE</kbd>, so long there is money in the <strong>donation box</strong>.
            Below is the <strong>live</strong> balance with auto deducting server &amp; maintenance costs.

            <DonationBalanceViewer />

            Please <BoldLink URL="@PageRoute.Donate">Donate</BoldLink> to keep this service running for yourself and others.
        </TextHTML>
    </ArticleBlock>
</div>


@code {

    private void OnClickDownload()
    {
        AppData.Go(URL.DesktopAppDownload, newTab: true);
    }

}

