@using Genso.Astrology.Library
@using System.Xml.Linq
@attribute [Route(PageRoute.HouseAPI)]

<PageTitle>House API Doc | VedAstro</PageTitle>

<PageTop Title="House API" IconName="carbon:gateway-api">
    <Description>Access astrological data related to planets via a simple API call</Description>
</PageTop>



<h3>API Call List</h3>
<table class="table table-striped table-hover table-bordered mb-5 mt-4">
    <thead class="table-dark">
        <tr>
            <th scope="col">House Data</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td scope="row">
            <div class="gap-1 vstack mb-1">
                <b style="font-size: 22px;">Coming soon!</b>
                <p style="margin: 0px; font-size: 15px;"><a href="@PageRoute.Donate" class="link-primary">Fund</a> this feature for faster development.</p>
                <kbd>.../Planet/Sun/Sign</kbd>
            </div>
        </td>
    </tr>
    </tbody>
</table>


@code {

}
