@attribute [Route(PageRoute.PlanetApi)]

<PageTitle>Planet API Doc | VedAstro</PageTitle>

<PageTop Title="Planet API" IconName="carbon:gateway-api">
    <Description>Planet related data</Description>
</PageTop>

<h3>API Call List</h3>
<table class="table table-striped table-hover table-bordered mb-5 mt-4">
    <thead class="table-dark">
        <tr>
            <th scope="col"><span class="hstack gap-2">Data Name<HelpIconTooltip SmallIcon="true" HelpText="Name of the data being accessed"/></span></th>
            <th scope="col"><span class="hstack gap-2">Call<HelpIconTooltip SmallIcon="true" HelpText="How to call this API"/></span></th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Rasi / Sign</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the zodiac sign behind a planet at a given time. (Sayana)</p>

                </div>
            </td>
            <td>
                <kbd>.../Planet/Sun/Sign</kbd>
                <IconButton ExtraClass="mt-3" ButtonText="Demo Call" IconName="uil:cloud-data-connection" OnClickCallback="@(() => OnClickTestAPI("Sign"))" SmallSize="true" />
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Navamsa Sign</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the Navamsa sign of a planet at a given time.</p>
                </div>
            </td>
            <td>
                <kbd>.../Planet/Sun/Navamsa</kbd>
                <IconButton ExtraClass="mt-3" ButtonText="Demo Call" IconName="uil:cloud-data-connection" OnClickCallback="@(() => OnClickTestAPI("Navamsa"))" SmallSize="true" />
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Dwadasamsa Sign</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the Dwadasamsa sign of a planet at a given time.</p>
                    <kbd>.../Planet/Sun/Dwadasamsa</kbd>
                </div>
            </td>
            <td>
                <kbd>.../Planet/Sun/Dwadasamsa</kbd>
                <IconButton ExtraClass="mt-3" ButtonText="Demo Call" IconName="uil:cloud-data-connection" OnClickCallback="@(() => OnClickTestAPI("Navamsa"))" SmallSize="true" />
            </td>

        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Constellation</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the constellation behind a planet at a given time.</p>
                    <kbd>.../Planet/Sun/Constellation</kbd>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Declination / Kranti</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the planet's declination at a given time.</p>
                    <kbd>.../Planet/Sun/Declination</kbd>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Aspecting Planets</b>
                    <p style="margin: 0px; font-size: 15px;">Gets all planets the transmitting aspect to inputed planet</p>
                    <kbd>.../Planet/Sun/AspectingPlanets</kbd>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Motion</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the planets motion name, can be Retrograde, Direct, Stationary</p>
                    <kbd>.../Planet/Sun/Motion</kbd>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Fixed Longitude / NirayanaLongitude</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the planets fixed longitude (nirayana)</p>
                    <kbd>.../Planet/Sun/FixedLongitude</kbd>
                </div>
            </td>
        </tr>
        <tr>
            <td scope="row">
                <div class="gap-1 vstack mb-1">
                    <b style="font-size: 22px;">Movable Longitude / Sayana Longitude</b>
                    <p style="margin: 0px; font-size: 15px;">Gets the planets sayana longitude</p>
                    <kbd>.../Planet/Sun/MovableLongitude</kbd>
                </div>
            </td>
        </tr>
    </tbody>
</table>


@code {

    /// <summary>
    /// Adds only part of the URL to final call
    /// </summary>
    private void OnClickTestAPI(string urlPart)
    {
        var url = $"https://api.vedastro.org/Location/Singapore/Time/23:59/31/12/2000/+08:00/Planet/Sun/{urlPart}";
        _jsRuntime.OpenNewTab(url);

    }

}
